<template>
  <v-navigation-drawer
    id="app-drawer"
    v-model="inputValue"
    app
    dark
    floating
    persistent
    mobile-break-point="991"
    width="260"
  >
    <v-img :src="image" height="100%">
      <v-layout class="items fill-height" tag="v-list" column>
        <v-list-tile avatar>
          <v-list-tile-avatar color="white">
            <v-img :src="logo" height="34" contain />
          </v-list-tile-avatar>

          <v-list-tile-title class="title">{{ brandName }}</v-list-tile-title>
        </v-list-tile>

        <v-divider />

        <template
          v-for="(link, i) in links"
        >
          <v-list-tile
            v-if="role === 'coordinator' || link.role === 'adg'"
            :key="i"
            :to="link.to"
            active-class="transparent active-class"
            :exact-active-class="`${color} exact-active-class`"
            avatar
            class="v-list-item"
          >
            <v-list-tile-action>
              <v-icon>{{ link.icon }}</v-icon>
            </v-list-tile-action>
            <v-list-tile-title v-text="link.text" />
          </v-list-tile>
        </template>

        <!-- <v-list-tile
          active-class="success"
          class="v-list-item v-list__tile--buy"
          to="/upgrade"
        >
          <v-list-tile-action>
            <v-icon>mdi-package-up</v-icon>
          </v-list-tile-action>

          <v-list-tile-title class="font-weight-light">
            Upgrade To PRO
          </v-list-tile-title>
        </v-list-tile>-->
      </v-layout>
    </v-img>
  </v-navigation-drawer>
</template>

<script>
// Utilities
import { mapMutations, mapState } from "vuex";
import AppConfig from "@/constants/AppConfig";
import i18n from "@/plugins/i18n";

export default {
  name: "CoreDrawer",
  props: {
    opened: {
      type: Boolean,
      default: false
    }
  },
  data: () => ({
    brandName: AppConfig.brandName,
    role: JSON.parse(localStorage.getItem('user')).role.code,
    logo: AppConfig.favicon,
    links: [
      {
        to: "/dashboard",
        icon: "mdi-view-dashboard",
        text: i18n.t("message.dashboard"),
        role: 'adg'
      },
      {
        to: "/dashboard/permissions",
        icon: "mdi-lock",
        text: i18n.tc("message.permissions", 2),
        role: 'coordinator'
      },
      {
        to: "/dashboard/roles",
        icon: "mdi-police-badge",
        text: i18n.tc("message.roles", 2),
        role: 'coordinator'
      },
      {
        to: "/dashboard/regions",
        icon: "mdi-map-marker",
        text: i18n.tc("message.regions", 2),
        role: 'coordinator'
      },
      {
        to: "/dashboard/departments",
        icon: "mdi-crosshairs-gps",
        text: i18n.tc("message.departments", 2),
        role: 'coordinator'
      },
      {
        to: "/dashboard/villages",
        icon: "mdi-location-enter",
        text: i18n.tc("message.villages", 2),
        role: 'coordinator'
      },
      {
        to: "/dashboard/users",
        icon: "mdi-account-group",
        text: i18n.tc("message.users", 2),
        role: 'coordinator'
      },
      {
        to: "/dashboard/suppliers",
        icon: "mdi-police-badge",
        text: i18n.tc("message.suppliers", 2),
        role: 'adg'
      },
      {
        to: "/dashboard/producers",
        icon: "mdi-police-badge",
        text: i18n.tc("message.producers", 2),
        role: 'adg'
      },
      {
        to: "/dashboard/mappers",
        icon: "mdi-lock",
        text: i18n.tc("message.mappers", 2),
        role: 'adg'
      },
      {
        to: "/dashboard/coaches",
        icon: "mdi-map-marker",
        text: i18n.tc("message.coaches", 2),
        role: 'adg'
      },
      {
        to: "/dashboard/user-profile",
        icon: "mdi-account",
        text: i18n.t("message.profile"),
        role: 'adg'
      }
      /*{
        to: "/table-list",
        icon: "mdi-clipboard-outline",
        text: "Table List"
      },
      {
        to: "/typography",
        icon: "mdi-format-font",
        text: "Typography"
      },
      {
        to: "/icons",
        icon: "mdi-chart-bubble",
        text: "Icons"
      },
      {
        to: "/maps",
        icon: "mdi-map-marker",
        text: "Maps"
      },
      {
        to: "/notifications",
        icon: "mdi-bell",
        text: "Notifications"
      }*/
    ]
  }),
  computed: {
    ...mapState("app", ["image", "color"]),
    inputValue: {
      get() {
        return this.$store.state.app.drawer;
      },
      set(val) {
        this.setDrawer(val);
      }
    },
    items() {
      return this.$t("Layout.View.items");
    }
  },

  methods: {
    ...mapMutations("app", ["setDrawer", "toggleDrawer"])
  }
};
</script>

<style lang="scss">
#app-drawer {
  .v-list__tile {
    border-radius: 4px;

    &--buy {
      margin-top: auto;
      margin-bottom: 17px;
    }
  }
}

.items {
  overflow: auto;
}
</style>
