<template>
  <v-toolbar id="core-toolbar" app flat prominent style="background: #eee;">
    <div class="v-toolbar-title">
      <v-toolbar-title class="tertiary--text font-weight-light">
        <v-btn v-if="responsive" class="default v-btn--simple" dark icon @click.stop="onClickBtn">
          <v-icon>mdi-view-list</v-icon>
        </v-btn>
        {{ title }}
      </v-toolbar-title>
    </div>

    <v-spacer />
    <v-toolbar-items>
      <v-flex align-center layout py-2>
        <v-text-field
          class="mr-4 primary-input"
          :label="$t('message.search')"
          hide-details
          color="primary"
        />

        <router-link v-ripple class="toolbar-items" to="/admin">
          <v-icon color="tertiary">mdi-view-dashboard</v-icon>
        </router-link>

        <!-- <v-menu bottom left content-class="dropdown-menu" offset-y transition="slide-y-transition">
          <router-link v-ripple slot="activator" class="toolbar-items" to="/notifications">
            <v-badge color="error" overlap>
              <template slot="badge">{{ notifications.length }}</template>
              <v-icon color="tertiary">mdi-bell</v-icon>
            </v-badge>
          </router-link>
          <v-card>
            <v-list dense>
              <v-list-tile
                v-for="notification in notifications"
                :key="notification"
                @click="onClick"
              >
                <v-list-tile-title v-text="notification" />
              </v-list-tile>
            </v-list>
          </v-card>
        </v-menu>-->

        <router-link v-ripple class="toolbar-items" to="/admin/user-profile">
          <v-icon color="tertiary">mdi-account</v-icon>
        </router-link>

        <v-icon color="tertiary" @click="logout">
          mdi-logout
        </v-icon>
      </v-flex>
    </v-toolbar-items>
  </v-toolbar>
</template>

<script>
import { mapMutations } from "vuex";

export default {
  name: "CoreToolbar",
  data: () => ({
    notifications: [
      "Mike, John responded to your email",
      "You have 5 new tasks",
      "You're now a friend with Andrew",
      "Another Notification",
      "Another One"
    ],
    title: null,
    responsive: false
  }),

  watch: {
    $route(val) {
      this.title = val.name;
    }
  },

  mounted() {
    this.onResponsiveInverted();
    window.addEventListener("resize", this.onResponsiveInverted);
  },
  beforeDestroy() {
    window.removeEventListener("resize", this.onResponsiveInverted);
  },

  methods: {
    ...mapMutations("app", ["setDrawer", "toggleDrawer"]),

    onClickBtn() {
      this.setDrawer(!this.$store.state.app.drawer);
    },

    onClick() {
      //
    },

    onResponsiveInverted() {
      if (window.innerWidth < 991) {
        this.responsive = true;
      } else {
        this.responsive = false;
      }
    },

    logout() {
      localStorage.removeItem('user');
      localStorage.removeItem('tf-token');
      localStorage.removeItem('token-expires-at');

      // Redirect to login page
      this.$router.push('/login');
    }
  }
};
</script>

<style>
#core-toolbar a {
  text-decoration: none;
}
</style>
