<template>
  <v-content>
    <div class="core-view">
      <v-fade-transition mode="out-in">
        <router-view />
      </v-fade-transition>
    </div>
    <core-footer v-if="$route.name !== 'Maps'" />
  </v-content>
</template>

<script>
export default {
  name: "CoreView",
  metaInfo() {
    return {
      title: "Tield Force Dashboard"
    };
  }
};
</script>

<style>
.core-view {
  padding-bottom: 100px;
}
</style>
