<template>
  <v-container fill-height fluid grid-list-xl>
    <v-layout wrap>
      <v-flex sm12>
        <v-btn dark color="success" :to="{ name: $t('message.addCoach') }">
          {{ $t('message.addCoach') }}
          <v-icon>mdi-hospital</v-icon>
        </v-btn>
      </v-flex>

      <v-flex sm12>
        <material-card color="primary" :title="$tc('message.coaches', 2)">
          <v-data-table
            v-if="coaches.length"
            :headers="headers"
            :items="coaches"
            hide-actions
          >
            <template
              slot="headerCell"
              slot-scope="{ header }"
            >
              <span
                class="subheading font-weight-light primary--text text--darken-3"
                v-text="header.text"
              />
            </template>
            <template
              slot="items"
              slot-scope="{ item }"
            >
              <td>{{ `${item.name.firstName} ${item.name.lastName}` }}</td>
              <td>{{ item.phone }}</td>
              <td>{{ formattedDate(item.createdAt) }}</td>
              <td class="text-xs-right">
                <v-tooltip top content-class="top">
                  <v-btn
                    slot="activator"
                    class="v-btn--simple"
                    color="danger"
                    icon
                    @click="showDeleteDialog(item)"
                  >
                    <v-icon color="error">mdi-close</v-icon>
                  </v-btn>

                  <span>{{ $t('message.delete') }}</span>

                  <v-dialog
                    v-model="dialog"
                    max-width="290"
                  >
                    <v-card>
                      <v-card-title class="headline">
                        {{ $t('message.deleteItem') }}?
                      </v-card-title>

                      <v-card-text>
                        {{ $t('message.confirmDelete', { item: selectedItem.name.firstName + ' ' + selectedItem.name.lastName }) }}
                      </v-card-text>

                      <v-card-actions>
                        <v-spacer></v-spacer>

                        <v-btn
                          color="green darken-1"
                          flat="flat"
                          @click="dialog = false"
                        >
                          {{ $t('message.no') }}
                        </v-btn>

                        <v-btn
                          color="red darken-1"
                          flat="flat"
                          @click="deleteCoach(selectedItem._id)"
                        >
                          {{ $t('message.yes') }}
                        </v-btn>
                      </v-card-actions>
                    </v-card>
                  </v-dialog>
                </v-tooltip>
              </td>
            </template>
          </v-data-table>
          
          <v-card-text v-else class="text-xs-center">{{ $t('message.noResults') }}</v-card-text>

          <v-snackbar
            :color="color"
            :bottom="bottom"
            :top="top"
            :left="left"
            :right="right"
            v-model="snackbar"
            dark
          >
            <v-icon color="white" class="mr-3">{{ notificationIcon }}</v-icon>

            <div>{{ notificationMessage }}</div>

            <v-icon size="16" @click="snackbar = false">mdi-close-circle</v-icon>
          </v-snackbar>
        </material-card>
      </v-flex>
    </v-layout>
  </v-container>
</template>

<script>
// Utilities
import { mapMutations, mapState } from "vuex";
import { apiModel, makeApiRequest } from "@/api";
import moment from 'moment';

export default {
  name: "Coaches",

  computed: {
    ...mapState("coaches", ["coaches"]),

    coaches: function() {
      return this.$store.state.coaches.coaches;
    }
  },

  data() {
    return {
      color: null,
      top: true,
      bottom: false,
      left: false,
      right: true,
      snackbar: false,
      dialog: false,
      notificationIcons: {
        success: "mdi-check-circle",
        error: "mdi-alert-octagon"
      },
      notificationIcon: null,
      notificationMessage: null,
      selectedItem: {
        _id: '',
        name: {
          firstName: '',
          lastName: ''
        }
      },
      headers: [
        {
          sortable: false,
          text: this.$t('message.name'),
          value: 'name'
        },
        {
          sortable: false,
          text: this.$t('message.phoneNumber'),
          value: 'phone'
        },
        {
          sortable: false,
          text: this.$t('message.createdAt'),
          value: 'createdAt'
        },
        {
          sortable: false,
          text: '',
          value: 'actions',
          align: 'right'
        }
      ]
    };
  },

  methods: {
    ...mapMutations("coaches", ["setCoaches"]),

    formattedDate(date) {
      return moment(date).format('DD-MM-YYYY');
    },

    showDeleteDialog(item) {
      this.selectedItem = item;
      this.dialog = true;
    },

    async getCoaches() {
      const token = localStorage.getItem("tf-token");

      try {
        const response = await makeApiRequest(
          {},
          apiModel.Coach.List,
          token,
          {},
          {}
        );

        const status = response.status;

        if (status === 200) {
          // Set coaches state via mapMutations()
          this.setCoaches(response.data.coaches);
        } else {
          this.snack("error", response.message, this.notificationIcons.error);
        }
      } catch (err) {
        this.snack("error", err, this.notificationIcons.error);
      }
    },

    async deleteCoach(coach) {
      const args = {
        coach
      };

      const token = localStorage.getItem("tf-token");

      try {
        const response = await makeApiRequest(
          args,
          apiModel.Coach.Delete,
          token,
          {}
        );

        // Close delete dialog
        this.dialog = false;

        const status = response.status;

        if (status === 200) {
          // Set coaches state by removing deleted coach via mapMutations()
          const updatedCoaches = this.coaches.filter(c => c._id !== coach);

          this.setCoaches(updatedCoaches);

          // Display success message
          this.snack(
            "success",
            this.$t("message.coachDeleted"),
            this.notificationIcons.success
          );
        } else {
          this.snack("error", response.message);
        }
      } catch (err) {
        this.snack("error", err, this.notificationIcons.error);
      }
    },

    snack(color, err, icon) {
      this.color = color;
      this.snackbar = true;
      this.notificationMessage = err;
      this.notificationIcon = icon;
    }
  },

  async mounted() {
    // Fetch coach list
    await this.getCoaches();
  }
};
</script>