<template>
  <v-container fill-height fluid grid-list-xl>
    <v-layout wrap>
      <v-flex sm12>
        <material-card color="primary" :title="$t('message.addProducer')">
          <v-form ref="producerForm" lazy-validation>
            <v-layout wrap>
              <v-flex xs12 sm6>
                <v-text-field
                  v-model="$v.form.name.lastName.$model"
                  :label="$t('message.lastName')"
                  required
                ></v-text-field>
              </v-flex>

              <v-flex xs12 sm6>
                <v-text-field
                  v-model="$v.form.name.firstName.$model"
                  :label="$t('message.firstName')"
                  required
                ></v-text-field>
              </v-flex>

              <v-flex xs12 sm6>
                <v-select
                  :items="genders"
                  :label="$t('message.gender')"
                  v-model="$v.form.gender.$model"
                  solo
                ></v-select>
              </v-flex>

              <v-flex xs12 sm6>
                <v-text-field
                  v-model="$v.form.phone.$model"
                  :label="$t('message.phoneNumber')"
                  required
                ></v-text-field>
              </v-flex>

              <v-flex xs12 sm6 d-flex>
                <v-radio-group
                  :label="$t('message.certified')"
                  v-model="$v.form.certified.$model"
                  row
                >
                  <v-radio :label="$t('message.yes')" :value="true"></v-radio>

                  <v-radio :label="$t('message.no')" :value="false"></v-radio>
                </v-radio-group>
              </v-flex>

              <v-flex xs12 sm6>
                <v-select
                  :items="certYears"
                  :label="$t('message.firstUtzCertification')"
                  v-model="$v.form.first_utz_certification.$model"
                  solo
                ></v-select>
              </v-flex>

              <v-flex xs12 sm6>
                <v-text-field
                  v-model="$v.form.worker_number.$model"
                  :label="$t('message.workerNumber')"
                  type="number"
                  required
                ></v-text-field>
              </v-flex>

              <v-flex xs12 sm6>
                <v-menu
                  ref="dateMenuRef"
                  v-model="dateMenu"
                  :nudge-right="40"
                  :return-value.sync="$v.form.internal_inspection_date.$model"
                  lazy
                  transition="scale-transition"
                  offset-y
                  full-width
                  min-width="290px"
                >
                  <template v-slot:activator="{ on }">
                    <v-text-field
                      v-model="formattedDate"
                      :label="$t('message.internalInspectionDate')"
                      prepend-icon="mdi-calendar"
                      v-on="on"
                    ></v-text-field>
                  </template>

                  <v-date-picker
                    v-model="$v.form.internal_inspection_date.$model"
                    @input="$refs.dateMenuRef.save($v.form.internal_inspection_date.$model)"
                    no-title
                    scrollable
                  ></v-date-picker>
                </v-menu>
              </v-flex>

              <v-flex xs12 class="pb-0">
                <div>
                  {{ $tc('message.suppliers', 1) }}

                  <v-dialog
                    v-model="dialog"
                    width="500"
                    content-class="transparent"
                  >
                    <template slot="activator">
                      <v-btn dark color="success" icon>
                        <v-icon>mdi-hospital</v-icon>
                      </v-btn>
                    </template>

                    <v-container fill-height fluid grid-list-xl>
                      <v-layout wrap>
                        <v-flex sm12>
                          <material-card color="primary" :title="$t('message.addSupplier')">
                            <v-form ref="supplierForm" lazy-validation>
                              <v-layout wrap>
                                <v-flex xs12 sm6>
                                  <v-text-field
                                    v-model="$v.sForm.name.lastName.$model"
                                    :label="$t('message.lastName')"
                                    required
                                  ></v-text-field>
                                </v-flex>

                                <v-flex xs12 sm6>
                                  <v-text-field
                                    v-model="$v.sForm.name.firstName.$model"
                                    :label="$t('message.firstName')"
                                    required
                                  ></v-text-field>
                                </v-flex>

                                <v-flex xs12 sm6>
                                  <v-select
                                    :items="genders"
                                    :label="$t('message.gender')"
                                    v-model="$v.sForm.gender.$model"
                                    solo
                                  ></v-select>
                                </v-flex>

                                <v-flex xs12 sm6>
                                  <v-text-field
                                    v-model="$v.sForm.phone.$model"
                                    :label="$t('message.phoneNumber')"
                                    required
                                  ></v-text-field>
                                </v-flex>

                                <v-flex xs12 sm6 d-flex>
                                  <v-radio-group
                                    :label="$t('message.certified')"
                                    v-model="$v.sForm.certified.$model"
                                    row
                                  >
                                    <v-radio :label="$t('message.yes')" :value="true"></v-radio>

                                    <v-radio :label="$t('message.no')" :value="false"></v-radio>
                                  </v-radio-group>
                                </v-flex>

                                <v-flex xs12 sm6>
                                  <v-select
                                    :items="certYears"
                                    :label="$t('message.firstUtzCertification')"
                                    v-model="$v.sForm.first_utz_certification.$model"
                                    solo
                                  ></v-select>
                                </v-flex>

                                <v-flex xs12 sm6>
                                  <v-text-field
                                    v-model="$v.sForm.worker_number.$model"
                                    :label="$t('message.workerNumber')"
                                    type="number"
                                    required
                                  ></v-text-field>
                                </v-flex>

                                <v-flex xs12 sm6>
                                  <v-menu
                                    ref="sDateMenuRef"
                                    v-model="sDateMenu"
                                    :nudge-right="40"
                                    :return-value.sync="$v.sForm.internal_inspection_date.$model"
                                    lazy
                                    transition="scale-transition"
                                    offset-y
                                    full-width
                                    min-width="290px"
                                  >
                                    <template v-slot:activator="{ on }">
                                      <v-text-field
                                        v-model="sFormattedDate"
                                        :label="$t('message.internalInspectionDate')"
                                        prepend-icon="mdi-calendar"
                                        v-on="on"
                                      ></v-text-field>
                                    </template>

                                    <v-date-picker
                                      v-model="$v.sForm.internal_inspection_date.$model"
                                      @input="$refs.sDateMenuRef.save($v.sForm.internal_inspection_date.$model)"
                                      no-title
                                      scrollable
                                    ></v-date-picker>
                                  </v-menu>
                                </v-flex>

                                <v-flex xs12 sm6>
                                  <img :src="sImageUrl" height="150" v-if="sImageUrl"/>

                                  <input
                                    type="file"
                                    style="display: none"
                                    ref="sImage"
                                    accept="image/*"
                                    @change="setSupplierImage"
                                  >

                                  <v-text-field
                                    v-model="sImageName"
                                    :label="$t('message.avatar')"
                                    @click="selectSupplierImage"
                                    prepend-icon='mdi-attachment'
                                  ></v-text-field>
                                </v-flex>

                                <v-flex xs12>
                                  <v-btn
                                    :disabled="$v.sForm.$invalid"
                                    color="success"
                                    @click="addSupplier"
                                  >{{ $t("message.submit") }}</v-btn>
                                </v-flex>
                              </v-layout>
                            </v-form>
                          </material-card>
                        </v-flex>
                      </v-layout>
                    </v-container>
                  </v-dialog>
                </div>
              </v-flex>

              <v-flex xs12 sm6 d-flex>
                <v-select
                  :items="mSuppliers"
                  :label="$tc('message.suppliers', 1)"
                  v-model="$v.form.supplier.$model"
                  item-text="fullName"
                  item-value="_id"
                  solo
                ></v-select>
              </v-flex>

              <v-flex xs12 sm6>
                <img :src="imageUrl" height="150" v-if="imageUrl"/>

                <input
                  type="file"
                  style="display: none"
                  ref="image"
                  accept="image/*"
                  @change="setImage"
                >

                <v-text-field
                  v-model="imageName"
                  :label="$t('message.avatar')"
                  @click="selectImage"
                  prepend-icon='mdi-attachment'
                ></v-text-field>
              </v-flex>

              <v-flex xs12>
                <v-btn
                  :disabled="$v.form.$invalid"
                  color="success"
                  @click="submit"
                >{{ $t("message.submit") }}</v-btn>
              </v-flex>
            </v-layout>
          </v-form>

          <v-snackbar
            :color="color"
            :bottom="bottom"
            :top="top"
            :left="left"
            :right="right"
            v-model="snackbar"
            dark
          >
            <v-icon color="white" class="mr-3">{{ notificationIcon }}</v-icon>

            <div>{{ notificationMessage }}</div>

            <v-icon size="16" @click="snackbar = false">mdi-close-circle</v-icon>
          </v-snackbar>
        </material-card>
      </v-flex>
    </v-layout>
  </v-container>
</template>

<script>
// Utilities
import { mapMutations, mapState } from "vuex";
import { apiModel, makeApiRequest } from "@/api";
import { required, numeric } from "vuelidate/lib/validators";
import moment from 'moment';

export default {
  name: "AddProducer",

  computed: {
    ...mapState("suppliers", ["suppliers"]),

    mSuppliers() {
      const newSuppliers = this.suppliers.map(s => {
        s.fullName = s.name.firstName + ' ' + s.name.lastName;

        return s;
      });

      return newSuppliers;
    },

    certYears() {
      const currentYear = (new Date()).getFullYear();
      const years = [];

      for (let i = currentYear; i >= currentYear - 50; i--) {
        years.push(i);
      }

      return years;
    },

    formattedDate() {
      return this.form.internal_inspection_date ? moment(this.form.internal_inspection_date).format('DD-MM-YYYY') : '';
    },

    sFormattedDate() {
      return this.sForm.internal_inspection_date ? moment(this.sForm.internal_inspection_date).format('DD-MM-YYYY') : '';
    }
  },

  data() {
    return {
      color: null,
      top: true,
      bottom: false,
      left: false,
      right: true,
      snackbar: false,
      notificationIcons: {
        success: "mdi-check-circle",
        error: "mdi-alert-octagon"
      },
      notificationIcon: null,
      notificationMessage: null,
      dialog: false,
      genders: [ this.$t('message.male'), this.$t('message.female') ],
      dateMenu: false,
      sDateMenu: false,
      imageName: null,
      imageUrl: null,
      sImageName: null,
      sImageUrl: null,
      form: {
        name: {
          firstName: null,
          lastName: null
        },
        avatar: null,
        gender: null,
        phone: null,
        certified: null,
        first_utz_certification: null,
        worker_number: null,
        internal_inspection_date: new Date().toISOString().substr(0, 10),
        supplier: {
          name: 'None',
          _id: null
        }
      },
      sForm: {
        name: {
          firstName: null,
          lastName: null
        },
        avatar: null,
        gender: null,
        phone: null,
        certified: null,
        first_utz_certification: null,
        worker_number: null,
        internal_inspection_date: new Date().toISOString().substr(0, 10)
      }
    };
  },

  methods: {
    ...mapMutations("suppliers", ["setSuppliers"]),

    selectImage() {
      this.$refs.image.click();
    },

    selectSupplierImage() {
      this.$refs.sImage.click();
    },

    setImage(event) {
      let files = event.target.files;

      if (files[0] !== undefined) {
        this.imageName = files[0].name;

        if(this.imageName.lastIndexOf('.') <= 0) {
          return;
        }

        const fr = new FileReader ();

        fr.readAsDataURL(files[0])
        fr.addEventListener('load', () => {
          this.imageUrl = fr.result;
          this.form.avatar = files[0];
        });
      } else {
        this.imageName = null;
        this.form.avatar = null;
        this.imageUrl = null;
      }
    },

    setSupplierImage(event) {
      let files = event.target.files;

      if (files[0] !== undefined) {
        this.sImageName = files[0].name;

        if(this.sImageName.lastIndexOf('.') <= 0) {
          return;
        }

        const fr = new FileReader ();

        fr.readAsDataURL(files[0])
        fr.addEventListener('load', () => {
          this.sImageUrl = fr.result;
          this.sForm.avatar = files[0];
        });
      } else {
        this.sImageName = null;
        this.sForm.avatar = null;
        this.sImageUrl = null;
      }
    },

    async getSuppliers() {
      const token = localStorage.getItem("tf-token");

      try {
        const response = await makeApiRequest(
          {},
          apiModel.Supplier.List,
          token,
          {},
          {}
        );

        const status = response.status;

        if (status === 200) {
          // Set suppliers state via mapMutations()
          this.setSuppliers(response.data.suppliers);
        } else {
          this.snack("error", response.message, this.notificationIcons.error);
        }
      } catch (err) {
        this.snack("error", err, this.notificationIcons.error);
      }
    },

    async addSupplier(evt) {
      evt.preventDefault();

      this.$v.sForm.$touch();

      if (!this.$v.sForm.$invalid) {
        let formData = new FormData();

        formData.append('firstName', this.sForm.name.firstName);
        formData.append('lastName', this.sForm.name.lastName);
        formData.append('avatar', this.sForm.avatar);
        formData.append('gender', this.sForm.gender);
        formData.append('phone', this.sForm.phone);
        formData.append('certified', this.sForm.certified);
        formData.append('first_utz_certification', this.sForm.first_utz_certification);
        formData.append('worker_number', this.sForm.worker_number);
        formData.append('internal_inspection_date', this.sForm.internal_inspection_date);

        const token = localStorage.getItem("tf-token");
        const headers = {
          headers: {
            "Content-Type": "multipart/form-data"
          }
        };

        try {
          const response = await makeApiRequest(
            formData,
            apiModel.Supplier.Create,
            token,
            {},
            {},
            headers
          );

          // Display success message
          this.snack(
            "success",
            this.$t("message.supplierCreated"),
            this.notificationIcons.success
          );

          // Add supplier to suppliers state
          const s = [...this.suppliers, response.data.result];
          this.setSuppliers(s);

          // Clear sForm fields
          this.sForm.name.firstName = null;
          this.sForm.name.lastName = null;
          this.sForm.gender = null;
          this.sForm.phone = null;
          this.sForm.certified = null;
          this.sForm.first_utz_certification = null;
          this.sForm.worker_number = null;
          this.sForm.internal_inspection_date = new Date().toISOString().substr(0, 10);

          // Close dialog
          this.dialog = false;
        } catch (err) {
          this.snack("error", err, this.notificationIcons.error);
        }
      }
    },

    async submit(evt) {
      evt.preventDefault();

      this.$v.form.$touch();

      if (!this.$v.form.$invalid) {
        let formData = new FormData();

        formData.append('firstName', this.form.name.firstName);
        formData.append('lastName', this.form.name.lastName);
        formData.append('avatar', this.form.avatar);
        formData.append('gender', this.form.gender);
        formData.append('phone', this.form.phone);
        formData.append('certified', this.form.certified);
        formData.append('first_utz_certification', this.form.first_utz_certification);
        formData.append('worker_number', this.form.worker_number);
        formData.append('internal_inspection_date', this.form.internal_inspection_date);
        formData.append('supplier', this.form.supplier);

        const token = localStorage.getItem("tf-token");
        const headers = {
          headers: {
            "Content-Type": "multipart/form-data"
          }
        };

        try {
          const response = await makeApiRequest(
           formData,
            apiModel.Producer.Create,
            token,
            {},
            {},
            headers
          );

          // Display success message
          this.snack(
            "success",
            this.$t("message.producerCreated"),
            this.notificationIcons.success
          );

          // Redirect to producers page
          this.$router.push({ name: this.$tc("message.producers", 2) });
        } catch (err) {
          this.snack("error", err, this.notificationIcons.error);
        }
      }
    },

    snack(color, message, icon) {
      this.color = color;
      this.snackbar = true;
      this.notificationMessage = message;
      this.notificationIcon = icon;
    }
  },

  mounted() {
    // Fetch supplier list
    this.getSuppliers();
  },

  validations: {
    form: {
      name: {
        firstName: {
          required
        },
        lastName: {
          required
        }
      },
      avatar: {
        //
      },
      gender: {
        required
      },
      phone: {
        required
      },
      certified: {
        required
      },
      first_utz_certification: {
        required
      },
      worker_number: {
        required,
        numeric
      },
      internal_inspection_date: {
        required
      },
      supplier: {
        //
      }
    },
    sForm: {
      name: {
        firstName: {
          required
        },
        lastName: {
          required
        }
      },
      avatar: {
        //
      },
      gender: {
        required
      },
      phone: {
        required
      },
      certified: {
        required
      },
      first_utz_certification: {
        required
      },
      worker_number: {
        required,
        numeric
      },
      internal_inspection_date: {
        required
      }
    }
  }
};
</script>
