<template>
  <v-container fill-height fluid grid-list-xl>
    <v-layout wrap>
      <v-flex sm12>
        <v-btn dark color="success" :to="{ name: $t('message.addProducer') }">
          {{ $t('message.addProducer') }}
          <v-icon>mdi-hospital</v-icon>
        </v-btn>
      </v-flex>

      <v-flex sm12>
        <material-card color="primary" :title="$tc('message.producers', 2)">
          <v-data-table
            v-if="producers.length"
            :headers="headers"
            :items="producers"
            hide-actions
          >
            <template
              slot="headerCell"
              slot-scope="{ header }"
            >
              <span
                class="subheading font-weight-light primary--text text--darken-3"
                v-text="header.text"
              />
            </template>
            <template
              slot="items"
              slot-scope="{ item }"
            >
              <tr
                class="pointer"
                @click="showDetailDialog(item)"
              >
                <td>
                  <v-avatar
                    slot="offset"
                    class="mx-auto d-block"
                    size="60"
                  >
                    <img v-if="item.avatar" :src="avatar(item.avatar)">
                    <v-icon v-else large>mdi-account-circle</v-icon>
                  </v-avatar>
                </td>
                <td>{{ item.code }}</td>
                <td>{{ item.name.firstName }}</td>
                <td>{{ item.name.lastName }}</td>
                <td>{{ item.gender }}</td>
                <td>{{ item.phone }}</td>
                <td>{{ formattedDate(item.createdAt) }}</td>
                <td class="text-xs-right">
                  <v-tooltip top content-class="top">
                    <v-btn
                      slot="activator"
                      class="v-btn--simple"
                      color="success"
                      icon
                      @click="goToEditProducer(item._id)"
                    >
                      <v-icon color="error">mdi-pencil</v-icon>
                    </v-btn>

                    <span>{{ $t('message.edit') }}</span>
                  </v-tooltip>

                  <v-tooltip top content-class="top">
                    <v-btn
                      slot="activator"
                      class="v-btn--simple"
                      color="danger"
                      icon
                      @click="showDeleteDialog(item)"
                    >
                      <v-icon color="error">mdi-close</v-icon>
                    </v-btn>

                    <span>{{ $t('message.delete') }}</span>

                    <v-dialog
                      v-model="dialog"
                      max-width="290"
                    >
                      <v-card>
                        <v-card-title class="headline">
                          {{ $t('message.deleteItem') }}?
                        </v-card-title>

                        <v-card-text>
                          {{ $t('message.confirmDelete', { item: selectedItem.name.firstName + ' ' + selectedItem.name.lastName }) }}
                        </v-card-text>

                        <v-card-actions>
                          <v-spacer></v-spacer>

                          <v-btn
                            color="green darken-1"
                            flat="flat"
                            @click="dialog = false"
                          >
                            {{ $t('message.no') }}
                          </v-btn>

                          <v-btn
                            color="red darken-1"
                            flat="flat"
                            @click="deleteProducer(selectedItem._id)"
                          >
                            {{ $t('message.yes') }}
                          </v-btn>
                        </v-card-actions>
                      </v-card>
                    </v-dialog>
                  </v-tooltip>
                </td>

                <v-dialog
                  v-model="detailDialog"
                  content-class="transparent no-box-shadow"
                  max-width="500"
                >
                  <producer-dialog :producer="selectedItem"></producer-dialog>
                </v-dialog>
              </tr>
            </template>
          </v-data-table>
          
          <v-card-text v-else class="text-xs-center">{{ $t('message.noResults') }}</v-card-text>

          <v-snackbar
            :color="color"
            :bottom="bottom"
            :top="top"
            :left="left"
            :right="right"
            v-model="snackbar"
            dark
          >
            <v-icon color="white" class="mr-3">{{ notificationIcon }}</v-icon>

            <div>{{ notificationMessage }}</div>

            <v-icon size="16" @click="snackbar = false">mdi-close-circle</v-icon>
          </v-snackbar>
        </material-card>
      </v-flex>
    </v-layout>
  </v-container>
</template>

<script>
// Utilities
import { mapMutations, mapState } from "vuex";
import moment from 'moment';
import { apiModel, makeApiRequest } from "@/api";
import AppConfig from "@/constants/AppConfig";

const ProducerDialog = () => import(/* webpackChunkName: "producer" */ "@/views/Dashboard/Producers/ProducerDialog");

export default {
  name: "Producers",

  components: { ProducerDialog },

  computed: {
    ...mapState("producers", ["producers"]),

    producers: function() {
      return this.$store.state.producers.producers;
    }
  },

  data() {
    return {
      backUrl: AppConfig.backUrl,
      color: null,
      top: true,
      bottom: false,
      left: false,
      right: true,
      snackbar: false,
      dialog: false,
      detailDialog: false,
      notificationIcons: {
        success: "mdi-check-circle",
        error: "mdi-alert-octagon"
      },
      notificationIcon: null,
      notificationMessage: null,
      selectedItem: {
        _id: '',
        name: {
          firstName: '',
          lastName: ''
        }
      },
      headers: [
        {
          sortable: false,
          text: this.$t('message.avatar'),
          value: 'avatar'
        },
        {
          sortable: false,
          text: this.$t('message.code'),
          value: 'code'
        },
        {
          sortable: false,
          text: this.$t('message.firstName'),
          value: 'firstName'
        },
        {
          sortable: false,
          text: this.$t('message.lastName'),
          value: 'lastName'
        },
        {
          sortable: false,
          text: this.$t('message.gender'),
          value: 'gender'
        },
        {
          sortable: false,
          text: this.$t('message.phoneNumber'),
          value: 'phone'
        },
        {
          sortable: false,
          text: this.$t('message.createdAt'),
          value: 'createdAt'
        },
        {
          sortable: false,
          text: '',
          value: 'actions',
          align: 'right'
        }
      ]
    };
  },

  methods: {
    ...mapMutations("producers", ["setProducers"]),

    avatar(url) {
      return this.backUrl + '/' + url;
    },

    formattedDate(date) {
      return moment(date).format('DD-MM-YYYY');
    },

    showDetailDialog(item) {
      this.selectedItem = item;
      this.detailDialog = true;
    },

    goToEditProducer(producer) {
      this.$router.push({ name: this.$t('message.editProducer'), params: { producer } });
    },

    showDeleteDialog(item) {
      this.selectedItem = item;
      this.dialog = true;
    },

    async getProducers() {
      const token = localStorage.getItem("tf-token");

      try {
        const response = await makeApiRequest(
          {},
          apiModel.Producer.List,
          token,
          {},
          {}
        );

        const status = response.status;

        if (status === 200) {
          // Set producers state via mapMutations()
          this.setProducers(response.data.producers);
        } else {
          this.snack("error", response.message, this.notificationIcons.error);
        }
      } catch (err) {
        this.snack("error", err, this.notificationIcons.error);
      }
    },

    async deleteProducer(producer) {
      const args = {
        producer
      };

      const token = localStorage.getItem("tf-token");

      try {
        const response = await makeApiRequest(
          args,
          apiModel.Producer.Delete,
          token,
          {}
        );

        // Close delete dialog
        this.dialog = false;

        const status = response.status;

        if (status === 200) {
          // Set producers state by removing deleted producer via mapMutations()
          const updatedProducers = this.producers.filter(p => p._id !== producer);

          this.setProducers(updatedProducers);

          // Display success message
          this.snack(
            "success",
            this.$t("message.producerDeleted"),
            this.notificationIcons.success
          );
        } else {
          this.snack("error", response.message);
        }
      } catch (err) {
        this.snack("error", err, this.notificationIcons.error);
      }
    },

    snack(color, err, icon) {
      this.color = color;
      this.snackbar = true;
      this.notificationMessage = err;
      this.notificationIcon = icon;
    }
  },

  async mounted() {
    // Fetch producer list
    await this.getProducers();
  }
};
</script>
