<template>
  <material-card>
    <v-avatar
      class="mx-auto d-block"
      size="130"
    >
      <!-- <img v-if="!producer.avatar" src="https://demos.creative-tim.com/vue-material-dashboard/img/marc.aba54d65.jpg"> -->
      <img v-if="producer.avatar" :src="avatar()">
      <v-icon v-else large>mdi-account-circle</v-icon>
    </v-avatar>

    <v-card-text class="text-xs-center">
      <h6 class="category text-gray font-weight-thin mb-3">
        {{ producer.code }}
      </h6>

      <h4 class="card-title font-weight-light">
        {{ producer.name.firstName }} {{ producer.name.lastName }}
      </h4>

      <v-card-text
        class="success--text text-xs-right pointer"
        @click="goToProfile()"
      >
        {{ $t('message.viewDetailedProfile') }}
      </v-card-text>

      <v-divider></v-divider>

      <v-list two-line>
        <v-list-tile>
          <v-list-tile-content>
            <v-list-tile-title>
              {{ $t('message.gender') }}
            </v-list-tile-title>

            <v-list-tile-sub-title>
              {{ gender }}
            </v-list-tile-sub-title>
          </v-list-tile-content>
        </v-list-tile>

        <v-list-tile>
          <v-list-tile-content>
            <v-list-tile-title>
              {{ $t('message.phoneNumber') }}
            </v-list-tile-title>

            <v-list-tile-sub-title>
              {{ producer.phone }}
            </v-list-tile-sub-title>
          </v-list-tile-content>
        </v-list-tile>

        <v-list-tile>
          <v-list-tile-content>
            <v-list-tile-title>
              {{ $t('message.certified') }}
            </v-list-tile-title>

            <v-list-tile-sub-title>
              <v-icon v-if="producer.certified" color="success">mdi-check</v-icon>
              <v-icon v-else color="error">mdi-cancel</v-icon>
            </v-list-tile-sub-title>
          </v-list-tile-content>
        </v-list-tile>

        <v-list-tile>
          <v-list-tile-content>
            <v-list-tile-title>
              {{ $t('message.firstUtzCertification') }}
            </v-list-tile-title>

            <v-list-tile-sub-title>
              {{ producer.first_utz_certification }}
            </v-list-tile-sub-title>
          </v-list-tile-content>
        </v-list-tile>

        <v-list-tile>
          <v-list-tile-content>
            <v-list-tile-title>
              {{ $t('message.workerNumber') }}
            </v-list-tile-title>

            <v-list-tile-sub-title>
              {{ workerNumber }}
            </v-list-tile-sub-title>
          </v-list-tile-content>
        </v-list-tile>

        <v-list-tile>
          <v-list-tile-content>
            <v-list-tile-title>
              {{ $t('message.internalInspectionDate') }}
            </v-list-tile-title>

            <v-list-tile-sub-title>
              {{ formattedDate(producer.internal_inspection_date) }}
            </v-list-tile-sub-title>
          </v-list-tile-content>
        </v-list-tile>

        <v-list-tile>
          <v-list-tile-content>
            <v-list-tile-title>
              {{ $t('message.currentYearProduction') }}
            </v-list-tile-title>

            <v-list-tile-sub-title>
              {{ currentYearVolume }}
            </v-list-tile-sub-title>
          </v-list-tile-content>
        </v-list-tile>

        <v-list-tile>
          <v-list-tile-content>
            <v-list-tile-title>
              {{ $t('message.previousYearProduction') }}
            </v-list-tile-title>

            <v-list-tile-sub-title>
              {{ previousYearVolume }}
            </v-list-tile-sub-title>
          </v-list-tile-content>
        </v-list-tile>

        <v-list-tile>
          <v-list-tile-content>
            <v-list-tile-title>
              {{ $t('message.certifiedCropArea') }}
            </v-list-tile-title>

            <v-list-tile-sub-title>
              {{ totalPlotArea }}
            </v-list-tile-sub-title>
          </v-list-tile-content>
        </v-list-tile>

        <v-list-tile>
          <v-list-tile-content>
            <v-list-tile-title>
              {{ $t('message.plotNumber') }}
            </v-list-tile-title>

            <v-list-tile-sub-title>
              {{ plotNumber }}
            </v-list-tile-sub-title>
          </v-list-tile-content>
        </v-list-tile>

        <v-list-tile>
          <v-list-tile-content>
            <v-list-tile-title>
              {{ $t('message.previousYearVolumeDelivered') }}
            </v-list-tile-title>

            <v-list-tile-sub-title>
              {{ volumeUpToPreviousYear }}
            </v-list-tile-sub-title>
          </v-list-tile-content>
        </v-list-tile>
      </v-list>
    </v-card-text>
  </material-card>
</template>

<script>
import moment from 'moment';
import numeral from 'numeral';
import _ from 'lodash';
import AppConfig from "@/constants/AppConfig";

export default {
  name: "ProducerDialog",

  props: ['producer'],

  computed: {
    gender() {
      return this.producer.gender ? this.$t('message.' + this.producer.gender.toLowerCase()) : 'N/A';
    },

    workerNumber() {
      return numeral(this.producer.worker_number).format('0,0');
    },

    plots() {
      return this.producer.plots;
    },

    plotNumber() {
      return this.plots ? numeral(this.plots.length).format('0,0') : 0;
    },

    totalPlotArea() {
      if (this.plotNumber) {
        let area = 0;

        _.forEach(this.plots, plot => {
          area += parseInt(plot.surface_area);
        });

        return numeral(area).format('0,0');
      }

      return 0;
    },

    productions() {
      const p = [];

      _.forEach(this.plots, plot => {
        p.push(...plot.productions);
      });

      return p;
    },

    currentYearVolume() {
      if (this.productions.length) {
        let volume = 0;
        const year = new Date().getFullYear();

        _.forEach(this.productions, prod => {
          if (prod.year == year) {
            volume += parseInt(prod.volume);
          }
        });

        return numeral(volume).format('0,0');
      }

      return 0;
    },

    previousYearVolume() {
      if (this.productions.length) {
        let volume = 0;
        const prevYear = new Date().getFullYear() - 1;

        _.forEach(this.productions, prod => {
          if (prod.year == prevYear) {
            volume += parseInt(prod.volume);
          }
        });

        return numeral(volume).format('0,0');
      }

      return 0;
    },

    volumeUpToPreviousYear() {
      if (this.productions.length) {
        let volume = 0;
        const prevYear = new Date().getFullYear() - 1;

        _.forEach(this.productions, prod => {
          if (prod.year <= prevYear) {
            volume += parseInt(prod.volume);
          }
        });

        return numeral(volume).format('0,0');
      }

      return 0;
    }
  },

  data() {
    return {
      backUrl: AppConfig.backUrl
    }
  },

  methods: {
    avatar() {
      return this.backUrl + '/' + this.producer.avatar;
    },

    formattedDate(date) {
      return moment(date).format('DD-MM-YYYY');
    },

    goToProfile() {
      this.$router.push({ name: this.$tc('message.producers', 1), params: { producer: this.producer._id } });
    },

    goToEditProducer() {
      this.$router.push({ name: this.$t('message.editProducer'), params: { producer: this.producer._id } });
    }
  }
}
</script>
