<template>
  <v-container fill-height fluid grid-list-xl>
    <v-layout wrap>
      <v-flex sm12>
        <material-card color="primary" :title="$tc('message.producers', 1)">
          <v-avatar
            class="mx-auto d-block"
            size="130"
          >
            <!-- <img v-if="!mProducer.avatar" src="https://demos.creative-tim.com/vue-material-dashboard/img/marc.aba54d65.jpg"> -->
            <img v-if="mProducer.avatar" :src="avatar()">
            <v-icon v-else large>mdi-account-circle</v-icon>
          </v-avatar>

          <v-card-text class="text-xs-center">
            <h6 class="category text-gray font-weight-thin mb-3">
              {{ mProducer.code }}
            </h6>

            <h4 class="card-title font-weight-light">
              {{ mProducer.name.firstName }} {{ mProducer.name.lastName }}
            </h4>

            <v-divider></v-divider>

            <v-list two-line>
              <v-list-tile>
                <v-list-tile-content>
                  <v-list-tile-title>
                    {{ $t('message.gender') }}
                  </v-list-tile-title>

                  <v-list-tile-sub-title>
                    {{ gender }}
                  </v-list-tile-sub-title>
                </v-list-tile-content>
              </v-list-tile>

              <v-list-tile>
                <v-list-tile-content>
                  <v-list-tile-title>
                    {{ $t('message.phoneNumber') }}
                  </v-list-tile-title>

                  <v-list-tile-sub-title>
                    {{ mProducer.phone }}
                  </v-list-tile-sub-title>
                </v-list-tile-content>
              </v-list-tile>

              <v-list-tile>
                <v-list-tile-content>
                  <v-list-tile-title>
                    {{ $t('message.certified') }}
                  </v-list-tile-title>

                  <v-list-tile-sub-title>
                    <v-icon v-if="mProducer.certified" color="success">mdi-check</v-icon>
                    <v-icon v-else color="error">mdi-cancel</v-icon>
                  </v-list-tile-sub-title>
                </v-list-tile-content>
              </v-list-tile>

              <v-list-tile>
                <v-list-tile-content>
                  <v-list-tile-title>
                    {{ $t('message.firstUtzCertification') }}
                  </v-list-tile-title>

                  <v-list-tile-sub-title>
                    {{ mProducer.first_utz_certification }}
                  </v-list-tile-sub-title>
                </v-list-tile-content>
              </v-list-tile>

              <v-list-tile>
                <v-list-tile-content>
                  <v-list-tile-title>
                    {{ $t('message.workerNumber') }}
                  </v-list-tile-title>

                  <v-list-tile-sub-title>
                    {{ workerNumber }}
                  </v-list-tile-sub-title>
                </v-list-tile-content>
              </v-list-tile>

              <v-list-tile>
                <v-list-tile-content>
                  <v-list-tile-title>
                    {{ $t('message.internalInspectionDate') }}
                  </v-list-tile-title>

                  <v-list-tile-sub-title>
                    {{ formattedDate(mProducer.internal_inspection_date) }}
                  </v-list-tile-sub-title>
                </v-list-tile-content>
              </v-list-tile>

              <v-list-tile>
                <v-list-tile-content>
                  <v-list-tile-title>
                    {{ $t('message.currentYearProduction') }}
                  </v-list-tile-title>

                  <v-list-tile-sub-title>
                    {{ currentYearVolume }}
                  </v-list-tile-sub-title>
                </v-list-tile-content>
              </v-list-tile>

              <v-list-tile>
                <v-list-tile-content>
                  <v-list-tile-title>
                    {{ $t('message.previousYearProduction') }}
                  </v-list-tile-title>

                  <v-list-tile-sub-title>
                    {{ previousYearVolume }}
                  </v-list-tile-sub-title>
                </v-list-tile-content>
              </v-list-tile>

              <v-list-tile>
                <v-list-tile-content>
                  <v-list-tile-title>
                    {{ $t('message.certifiedCropArea') }}
                  </v-list-tile-title>

                  <v-list-tile-sub-title>
                    {{ totalPlotArea }}
                  </v-list-tile-sub-title>
                </v-list-tile-content>
              </v-list-tile>

              <v-list-tile>
                <v-list-tile-content>
                  <v-list-tile-title>
                    {{ $t('message.plotNumber') }}
                  </v-list-tile-title>

                  <v-list-tile-sub-title>
                    {{ plotNumber }}
                  </v-list-tile-sub-title>
                </v-list-tile-content>
              </v-list-tile>

              <v-list-tile>
                <v-list-tile-content>
                  <v-list-tile-title>
                    {{ $t('message.previousYearVolumeDelivered') }}
                  </v-list-tile-title>

                  <v-list-tile-sub-title>
                    {{ volumeUpToPreviousYear }}
                  </v-list-tile-sub-title>
                </v-list-tile-content>
              </v-list-tile>
            </v-list>
          </v-card-text>
        </material-card>
      </v-flex>
    </v-layout>

    <v-snackbar
      :color="color"
      :bottom="bottom"
      :top="top"
      :left="left"
      :right="right"
      v-model="snackbar"
      dark
    >
      <v-icon color="white" class="mr-3">{{ notificationIcon }}</v-icon>

      <div>{{ notificationMessage }}</div>

      <v-icon size="16" @click="snackbar = false">mdi-close-circle</v-icon>
    </v-snackbar>
  </v-container>
</template>

<script>
  import { mapMutations, mapState } from 'vuex';
  import { apiModel, makeApiRequest } from "@/api";
  import moment from "moment";
  import _ from "lodash";
  import numeral from "numeral";
  import AppConfig from "@/constants/AppConfig";

  export default {
    name: "Producer",

    computed: {
      ...mapState("producers", ["producer"]),

      mProducer() {
        return this.producer;
      },

      gender() {
        return this.mProducer.gender ? this.$t('message.' + this.mProducer.gender.toLowerCase()) : 'N/A';
      },

      workerNumber() {
        return numeral(this.mProducer.worker_number).format('0,0');
      },

      plots() {
        return this.mProducer.plots;
      },

      plotNumber() {
        return this.plots ? this.plots.length : 0;
      },

      totalPlotArea() {
        if (this.plotNumber) {
          let area = 0;

          _.forEach(this.plots, plot => {
            area += parseInt(plot.surface_area);
          });

          return area;
        }

        return 0;
      },

      productions() {
        const p = [];

        _.forEach(this.plots, plot => {
          p.push(...plot.productions);
        });

        return p;
      },

      currentYearVolume() {
        if (this.productions.length) {
          let volume = 0;
          const year = new Date().getFullYear();

          _.forEach(this.productions, prod => {
            if (prod.year == year) {
              volume += parseInt(prod.volume);
            }
          });

          return numeral(volume).format('0,0');
        }

        return 0;
      },

      previousYearVolume() {
        if (this.productions.length) {
          let volume = 0;
          const prevYear = new Date().getFullYear() - 1;

          _.forEach(this.productions, prod => {
            if (prod.year == prevYear) {
              volume += parseInt(prod.volume);
            }
          });

          return numeral(volume).format('0,0');
        }

        return 0;
      },

      volumeUpToPreviousYear() {
        if (this.productions.length) {
          let volume = 0;
          const prevYear = new Date().getFullYear() - 1;

          _.forEach(this.productions, prod => {
            if (prod.year <= prevYear) {
              volume += parseInt(prod.volume);
            }
          });

          return numeral(volume).format('0,0');
        }

        return 0;
      }
    },

    data() {
      return {
        backUrl: AppConfig.backUrl,
        producerId: this.$route.params.producer,
        color: null,
        top: true,
        bottom: false,
        left: false,
        right: true,
        snackbar: false,
        notificationIcons: {
          success: "mdi-check-circle",
          error: "mdi-alert-octagon"
        },
        notificationIcon: null,
        notificationMessage: null,
      }
    },

    methods: {
      ...mapMutations("producers", ["setProducer"]),

      avatar() {
        return this.backUrl + '/' + this.mProducer.avatar;
      },

      formattedDate(date) {
        return moment(date).format('DD-MM-YYYY');
      },

      async getProducer() {
        const token = localStorage.getItem("tf-token");
        const args = {
          producer: this.producerId
        };

        try {
          const response = await makeApiRequest(
            args,
            apiModel.Producer.Get,
            token
          );

          const status = response.status;

          if (status === 200) {
            // Set producer state via mapMutations()
            this.setProducer(response.data.producer);
          } else {
            this.snack("error", response.message, this.notificationIcons.error);
          }
        } catch (err) {
          this.snack("error", err, this.notificationIcons.error);
        }
      }
    },

    snack(color, err, icon) {
      this.color = color;
      this.snackbar = true;
      this.notificationMessage = err;
      this.notificationIcon = icon;
    },

    async mounted() {
      // Get producer
      await this.getProducer();
    }
  }
</script>
