<template>
  <v-container fill-height fluid grid-list-xl>
    <v-layout wrap>
      <v-flex sm12>
        <material-card color="primary" :title="$t('message.addRegion')">
          <v-form ref="form" lazy-validation>
            <v-layout wrap>
              <v-flex xs12 sm6>
                <v-text-field v-model="$v.form.name.$model" :label="$t('message.name')" required></v-text-field>
              </v-flex>

              <v-flex xs12 sm6>
                <v-text-field v-model="$v.form.code.$model" :label="$t('message.code')" required></v-text-field>
              </v-flex>

              <v-flex xs12>
                <v-btn
                  :disabled="$v.$invalid"
                  color="success"
                  @click="submit"
                >{{ $t("message.submit") }}</v-btn>
              </v-flex>
            </v-layout>
          </v-form>

          <v-snackbar
            :color="color"
            :bottom="bottom"
            :top="top"
            :left="left"
            :right="right"
            v-model="snackbar"
            dark
          >
            <v-icon color="white" class="mr-3">{{ notificationIcon }}</v-icon>

            <div>{{ notificationMessage }}</div>

            <v-icon size="16" @click="snackbar = false">mdi-close-circle</v-icon>
          </v-snackbar>
        </material-card>
      </v-flex>
    </v-layout>
  </v-container>
</template>

<script>
// Utilities
import { apiModel, makeApiRequest } from "@/api";
import { required } from "vuelidate/lib/validators";

export default {
  name: "AddRegion",

  data() {
    return {
      color: null,
      top: true,
      bottom: false,
      left: false,
      right: true,
      snackbar: false,
      notificationIcons: {
        success: "mdi-check-circle",
        error: "mdi-alert-octagon"
      },
      notificationIcon: null,
      notificationMessage: null,
      form: {
        name: null,
        code: null
      }
    };
  },

  methods: {
    async submit(evt) {
      evt.preventDefault();

      this.$v.$touch();

      if (!this.$v.$invalid) {
        const args = {
          name: this.form.name,
          code: this.form.code
        };

        const token = localStorage.getItem("tf-token");

        try {
          const response = await makeApiRequest(
            args,
            apiModel.Region.Create,
            token,
            {}
          );

          // Display success message
          this.snack(
            "success",
            this.$t("message.regionCreated"),
            this.notificationIcons.success
          );

          // Redirect to regions page
          this.$router.push({ name: this.$tc("message.regions", 2) });
        } catch (err) {
          this.snack("error", err, this.notificationIcons.error);
        }
      }
    },

    snack(color, message, icon) {
      this.color = color;
      this.snackbar = true;
      this.notificationMessage = message;
      this.notificationIcon = icon;
    }
  },

  validations: {
    form: {
      name: {
        required
      },
      code: {
        required
      }
    }
  }
};
</script>
