<template>
  <v-container fill-height fluid grid-list-xl>
    <v-layout wrap>
      <v-flex sm12>
        <material-card color="primary" :title="$t('message.editRegion')">
          <v-form ref="form" lazy-validation>
            <v-layout wrap>
              <v-flex xs12 sm6>
                <v-text-field
                  v-model="$v.form.name.$model"
                  :label="$t('message.name')"
                  required
                ></v-text-field>
              </v-flex>

              <v-flex xs12 sm6>
                <v-text-field
                  v-model="$v.form.code.$model"
                  :label="$t('message.code')"
                  required
                ></v-text-field>
              </v-flex>

              <v-flex xs12>
                <v-btn :disabled="$v.$invalid" color="success" @click="submit">
                  {{ $t("message.submit") }}
                </v-btn>
              </v-flex>
            </v-layout>
          </v-form>

          <v-snackbar
            :color="color"
            :bottom="bottom"
            :top="top"
            :left="left"
            :right="right"
            v-model="snackbar"
            dark
          >
            <v-icon color="white" class="mr-3">{{ notificationIcon }}</v-icon>

            <div>{{ notificationMessage }}</div>

            <v-icon size="16" @click="snackbar = false"
              >mdi-close-circle</v-icon
            >
          </v-snackbar>
        </material-card>
      </v-flex>
    </v-layout>
  </v-container>
</template>

<script>
// Utilities
import { mapMutations, mapState } from "vuex";
import { apiModel, makeApiRequest } from "@/api";
import { required } from "vuelidate/lib/validators";

export default {
  name: "EditRegion",

  computed: {
    ...mapState("regions", ["region"]),

    form: function() {
      return this.$store.state.regions.region;
    }
  },

  data() {
    return {
      regionId: this.$route.params.region,
      color: null,
      top: true,
      bottom: false,
      left: false,
      right: true,
      snackbar: false,
      notificationIcons: {
        success: "mdi-check-circle",
        error: "mdi-alert-octagon"
      },
      notificationIcon: null,
      notificationMessage: null
    };
  },

  methods: {
    ...mapMutations("regions", ["setRegion"]),

    async getRegion() {
      const args = {
        region: this.regionId
      };

      const token = localStorage.getItem("tf-token");

      try {
        const response = await makeApiRequest(
          args,
          apiModel.Region.Get,
          token,
          {}
        );

        const status = response.status

        if (status === 200) {
          // Set region state via mapMutations()
          this.setRegion(response.data.region);
        } else {
          this.snack("error", response.message, this.notificationIcons.error);
        }
      } catch (err) {
        this.snack("error", err, this.notificationIcons.error);
      }
    },

    async submit(evt) {
      evt.preventDefault();

      this.$v.$touch();

      if (!this.$v.$invalid) {
        const args = {
          region: this.regionId,
          name: this.form.name,
          code: this.form.code
        };

        const token = localStorage.getItem("tf-token");

        try {
          const response = await makeApiRequest(
            args,
            apiModel.Region.Update,
            token,
            {}
          );

          const status = response.status;

          if (status === 200) {
            // Display success message
            this.snack("success", this.$t("message.regionUpdated"), this.notificationIcons.success);

            // Redirect to regions page
            this.$router.push({ name: this.$tc("message.regions", 2) });
          } else {
            this.snack("error", response.message, this.notificationIcons.error);
          }
        } catch (err) {
          this.snack("error", err, this.notificationIcons.error);
        }
      }
    },

    snack(color, message, icon) {
      this.color = color;
      this.snackbar = true;
      this.notificationMessage = message;
      this.notificationIcon = icon;
    }
  },

  mounted() {
    // Fetch region
    this.getRegion();
  },

  validations: {
    form: {
      name: {
        required
      },
      code: {
        required
      }
    }
  }
};
</script>
