<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width,initial-scale=1.0" />
    <link
      href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,300italic,400italic"
      rel="stylesheet"
      type="text/css"
    />
    <link rel="icon" href="<%= BASE_URL %>favicon.png" />
    <title>Tield Force</title>
  </head>
  <body>
    <noscript>
      <strong
        >We're sorry but Tield Force doesn't work properly without JavaScript
        enabled. Please enable it to continue.</strong
      >
    </noscript>
    <div id="app"></div>
    <!-- built files will be auto injected -->
  </body>
</html>
