<template>
  <v-container
    fill-height
    fluid
    grid-list-xl
  >
    <v-layout
      justify-center
      wrap
    >
      <v-flex
        xs12
        md8
      >
        <material-card
          color="green"
          :title="$t('message.editProfile')"
          :text="$t('message.completeProfile')"
        >
          <v-form>
            <v-container py-0>
              <v-layout wrap>
                <v-flex
                  xs12
                  md6
                >
                  <v-text-field
                    v-model="$v.form.name.firstName.$model"
                    :label="$t('message.firstName')"
                    class="success-input"/>
                </v-flex>
                <v-flex
                  xs12
                  md6
                >
                  <v-text-field
                    v-model="$v.form.name.lastName.$model"
                    :label="$t('message.lastName')"
                    class="success-input"
                    required />
                </v-flex>
                <v-flex
                  xs12
                  md6
                >
                  <v-text-field
                    v-model="$v.form.username.$model"
                    :label="$t('message.username')"
                    class="success-input"
                    required />
                </v-flex>
                <v-flex
                  xs12
                  md6
                >
                  <v-text-field
                    v-model="$v.form.phone.$model"
                    :label="$t('message.phoneNumber')"
                    class="success-input"/>
                </v-flex>
                <!--<v-flex
                  xs12
                >
                  <v-select
                    :items="genders"
                    :label="$t('message.gender')"
                    v-model="$v.form.gender.$model"
                    solo
                  ></v-select>
                </v-flex>
                <v-flex xs12>
                  <v-textarea
                    class="purple-input"
                    label="About Me"
                    value="Lorem ipsum dolor sit amet, consectetur adipiscing elit."
                  />
                </v-flex>-->
                <v-flex
                  xs12
                  text-xs-right
                >
                  <v-btn
                    class="mx-0 font-weight-light"
                    color="success"
                  >
                    {{ $t('message.updateProfile') }}
                  </v-btn>
                </v-flex>
              </v-layout>
            </v-container>
          </v-form>
        </material-card>
      </v-flex>
      <v-flex
        xs12
        md4
      >
        <material-card class="v-card-profile">
          <v-avatar
            slot="offset"
            class="mx-auto d-block"
            size="130"
          >
            <img v-if="form.avatar" :src="form.avatar">

            <img
              v-else
              src="https://demos.creative-tim.com/vue-material-dashboard/img/marc.aba54d65.jpg"
            >
          </v-avatar>
          <v-card-text class="text-xs-center">
            <h6 class="category text-gray font-weight-thin mb-3">
              {{ form.role.name }}
            </h6>

            <h4 class="card-title font-weight-light">
              {{ name }}
            </h4>

            <p class="card-description font-weight-light">
              {{ $t('message.profileDescription') }}
            </p>

            <!--<v-btn
              color="success"
              round
              class="font-weight-light"
            >Follow</v-btn>-->
          </v-card-text>
        </material-card>
      </v-flex>
    </v-layout>

    <v-snackbar
      :color="color"
      :bottom="bottom"
      :top="top"
      :left="left"
      :right="right"
      v-model="snackbar"
      dark
    >
      <v-icon color="white" class="mr-3">{{ notificationIcon }}</v-icon>

      <div>{{ notificationMessage }}</div>

      <v-icon size="16" @click="snackbar = false">mdi-close-circle</v-icon>
    </v-snackbar>
  </v-container>
</template>

<script>
import { required, numeric } from "vuelidate/lib/validators";

export default {
  name: "UserProfile",

  computed: {
    name() {
      return `${this.form.name.lastName} ${this.form.name.firstName}`
    }
  },

  data() {
    return {
      color: null,
      top: true,
      bottom: false,
      left: false,
      right: true,
      snackbar: false,
      notificationIcons: {
        success: "mdi-check-circle",
        error: "mdi-alert-octagon"
      },
      notificationIcon: null,
      notificationMessage: null,
      genders: [ this.$t('message.male'), this.$t('message.female') ],
      form: JSON.parse(localStorage.getItem('user'))
    }
  },

  methods: {
    async submit(evt) {
      evt.preventDefault();

      this.$v.form.$touch();

      if (!this.$v.form.$invalid) {
        const args = {
          firstName: this.form.name.firstName,
          lastName: this.form.name.lastName,
          username: this.form.username,
          // gender: this.form.gender,
          phone: this.form.phone
        };

        const token = localStorage.getItem("tf-token");

        try {
          //
        } catch (err) {
          this.snack("error", err, this.notificationIcons.error);
        }
      }
    },

    snack(color, message, icon) {
      this.color = color;
      this.snackbar = true;
      this.notificationMessage = message;
      this.notificationIcon = icon;
    }
  },

  validations: {
    form: {
      name: {
        lastName: {
          required
        },
        firstName: {}
      },
      username: {
        required
      },
      phone: {},
      gender: {}
    }
  }
}
</script>
