<template>
  <v-container fill-height fluid grid-list-xl>
    <v-layout wrap>
      <v-flex sm12>
        <material-card color="primary" :title="$t('message.editDepartment')">
          <v-form ref="deptForm" lazy-validation>
            <v-layout wrap>
              <v-flex xs12 sm6>
                <v-text-field v-model="$v.form.name.$model" :label="$t('message.name')" required></v-text-field>
              </v-flex>

              <v-flex xs12 sm6>
                <v-text-field v-model="$v.form.code.$model" :label="$t('message.code')" required></v-text-field>
              </v-flex>

              <v-flex xs12 class="pb-0">
                <div>
                  {{ $tc('message.regions', 1) }}
                  <v-dialog v-model="dialog" width="500">
                    <template slot="activator">
                      <v-btn dark color="success" icon>
                        <v-icon>mdi-hospital</v-icon>
                      </v-btn>
                    </template>

                    <v-container fill-height fluid grid-list-xl>
                      <v-layout wrap>
                        <v-flex sm12>
                          <material-card color="primary" :title="$t('message.addRegion')">
                            <v-form ref="regionForm" lazy-validation>
                              <v-layout wrap>
                                <v-flex xs12 sm6>
                                  <v-text-field
                                    v-model="$v.rForm.name.$model"
                                    :label="$t('message.name')"
                                    required
                                  ></v-text-field>
                                </v-flex>

                                <v-flex xs12 sm6>
                                  <v-text-field
                                    v-model="$v.rForm.code.$model"
                                    :label="$t('message.code')"
                                    required
                                  ></v-text-field>
                                </v-flex>

                                <v-flex xs12>
                                  <v-btn
                                    :disabled="$v.rForm.$invalid"
                                    color="success"
                                    @click="addRegion"
                                  >{{ $t("message.addRegion") }}</v-btn>
                                </v-flex>
                              </v-layout>
                            </v-form>
                          </material-card>
                        </v-flex>
                      </v-layout>
                    </v-container>
                  </v-dialog>
                </div>
              </v-flex>

              <v-flex xs12 sm6 d-flex>
                <v-select
                  :items="regions"
                  :label="$tc('message.regions', 1)"
                  v-model="$v.form.region.$model"
                  item-text="name"
                  item-value="_id"
                  solo
                ></v-select>
              </v-flex>

              <v-flex xs12>
                <v-btn
                  :disabled="$v.form.$invalid"
                  color="success"
                  @click="submit"
                >{{ $t("message.submit") }}</v-btn>
              </v-flex>
            </v-layout>
          </v-form>

          <v-snackbar
            :color="color"
            :bottom="bottom"
            :top="top"
            :left="left"
            :right="right"
            v-model="snackbar"
            dark
          >
            <v-icon color="white" class="mr-3">{{ notificationIcon }}</v-icon>

            <div>{{ notificationMessage }}</div>

            <v-icon size="16" @click="snackbar = false">mdi-close-circle</v-icon>
          </v-snackbar>
        </material-card>
      </v-flex>
    </v-layout>
  </v-container>
</template>

<script>
// Utilities
import { mapMutations, mapState } from "vuex";
import { apiModel, makeApiRequest } from "@/api";
import { required } from "vuelidate/lib/validators";

export default {
  name: "EditDepartment",

  computed: {
    ...mapState("departments", ["department"]),

    ...mapState("regions", ["regions"]),

    form: function() {
      return this.$store.state.departments.department;
    },

    regions: function() {
      return this.$store.state.regions.regions;
    }
  },

  data() {
    return {
      deptId: this.$route.params.department,
      color: null,
      top: true,
      bottom: false,
      left: false,
      right: true,
      snackbar: false,
      notificationIcons: {
        success: "mdi-check-circle",
        error: "mdi-alert-octagon"
      },
      notificationIcon: null,
      notificationMessage: null,
      dialog: false,
      rForm: {
        name: null,
        code: null
      }
    };
  },

  methods: {
    ...mapMutations("departments", ["setDepartment"]),

    ...mapMutations("regions", ["setRegions"]),

    async getDepartment() {
      const args = {
        department: this.deptId
      };

      const token = localStorage.getItem("tf-token");

      try {
        const response = await makeApiRequest(
          args,
          apiModel.Department.Get,
          token,
          {}
        );

        const status = response.status;

        if (status === 200) {
          // Set department state via mapMutations()
          this.setDepartment(response.data.department);
        } else {
          this.snack("error", response.message, this.notificationIcons.error);
        }
      } catch (err) {
        this.snack("error", err, this.notificationIcons.error);
      }
    },

    async submit(evt) {
      evt.preventDefault();

      this.$v.form.$touch();

      if (!this.$v.form.$invalid) {
        const args = {
          department: this.deptId,
          name: this.form.name,
          code: this.form.code,
          region: this.form.region
        };

        const token = localStorage.getItem("tf-token");

        try {
          const response = await makeApiRequest(
            args,
            apiModel.Department.Update,
            token,
            {}
          );

          const status = response.status;

          if (status === 200) {
            // Display success message
            this.snack(
              "success",
              this.$t("message.departmentUpdated"),
              this.notificationIcons.success
            );

            // Redirect to departments page
            this.$router.push({ name: this.$tc("message.departments", 2) });
          } else {
            this.snack("error", response.message, this.notificationIcons.error);
          }
        } catch (err) {
          this.snack("error", err, this.notificationIcons.error);
        }
      }
    },

    async addRegion(evt) {
      evt.preventDefault();

      this.$v.rForm.$touch();

      if (!this.$v.rForm.$invalid) {
        const args = {
          name: this.rForm.name,
          code: this.rForm.code
        };

        const token = localStorage.getItem("tf-token");

        try {
          const response = await makeApiRequest(
            args,
            apiModel.Region.Create,
            token,
            {}
          );

          // Display success message
          this.snack(
            "success",
            this.$t("message.regionCreated"),
            this.notificationIcons.success
          );

          // Add region to regions state
          const r = [...this.regions, response.data.result];
          this.setRegions(r);

          // Clear rForm fields
          this.rForm.name = null;
          this.rForm.code = null;

          // Close dialog
          this.dialog = false;
        } catch (err) {
          this.snack("error", err, this.notificationIcons.error);
        }
      }
    },

    async getRegions() {
      const token = localStorage.getItem("tf-token");

      try {
        const response = await makeApiRequest(
          {},
          apiModel.Region.List,
          token,
          {}
        );

        const status = response.status;

        if (status === 200) {
          // Set regions state via mapMutations()
          this.setRegions(response.data.regions);
        } else {
          this.snack("error", response.message, this.notificationIcons.error);
        }
      } catch (err) {
        this.snack("error", err);
      }
    },

    snack(color, message, icon) {
      this.color = color;
      this.snackbar = true;
      this.notificationMessage = message;
      this.notificationIcon = icon;
    }
  },

  mounted() {
    // Fetch department
    this.getDepartment();

    // Fetch region list
    this.getRegions();
  },

  validations: {
    form: {
      name: {
        required
      },
      code: {
        required
      },
      region: {
        required
      }
    },

    rForm: {
      name: {
        required
      },
      code: {
        required
      }
    }
  }
};
</script>
