<template>
  <v-container fill-height fluid grid-list-xl>
    <v-layout wrap>
      <v-flex sm12>
        <material-card color="primary" :title="$t('message.addRole')">
          <v-form ref="roleForm" lazy-validation>
            <v-layout wrap>
              <v-flex xs12 sm6>
                <v-text-field v-model="$v.form.name.$model" :label="$t('message.name')" required></v-text-field>
              </v-flex>

              <v-flex xs12 sm6>
                <v-text-field v-model="$v.form.code.$model" :label="$t('message.code')" required></v-text-field>
              </v-flex>

              <v-flex xs12 class="pb-0">
                <div>
                  {{ $tc('message.permissions', 2) }}
                  <v-dialog v-model="dialog" width="500">
                    <template slot="activator">
                      <v-btn dark color="success" icon>
                        <v-icon>mdi-hospital</v-icon>
                      </v-btn>
                    </template>

                    <v-container fill-height fluid grid-list-xl>
                      <v-layout wrap>
                        <v-flex sm12>
                          <material-card color="primary" :title="$t('message.addPermission')">
                            <v-form ref="permissionForm" lazy-validation>
                              <v-layout wrap>
                                <v-flex xs12 sm6>
                                  <v-text-field
                                    v-model="$v.pForm.name.$model"
                                    :label="$t('message.name')"
                                    required
                                  ></v-text-field>
                                </v-flex>

                                <v-flex xs12 sm6>
                                  <v-text-field
                                    v-model="$v.pForm.code.$model"
                                    :label="$t('message.code')"
                                    required
                                  ></v-text-field>
                                </v-flex>

                                <v-flex xs12>
                                  <v-btn
                                    :disabled="$v.pForm.$invalid"
                                    color="success"
                                    @click="addPermission"
                                  >{{ $t("message.addPermission") }}</v-btn>
                                </v-flex>
                              </v-layout>
                            </v-form>
                          </material-card>
                        </v-flex>
                      </v-layout>
                    </v-container>
                  </v-dialog>
                </div>
              </v-flex>

              <v-flex v-for="permission in permissions" :key="permission._id" xs12 sm4 md4>
                <v-checkbox
                  class="mt-0 pt-0"
                  v-model="$v.form.permissions.$model"
                  :label="permission.name"
                  :value="permission._id"
                  hide-details
                ></v-checkbox>
              </v-flex>

              <v-flex xs12>
                <v-btn
                  :disabled="$v.form.$invalid"
                  color="success"
                  @click="submit"
                >{{ $t("message.submit") }}</v-btn>
              </v-flex>
            </v-layout>
          </v-form>

          <v-snackbar
            :color="color"
            :bottom="bottom"
            :top="top"
            :left="left"
            :right="right"
            v-model="snackbar"
            dark
          >
            <v-icon color="white" class="mr-3">{{ notificationIcon }}</v-icon>

            <div>{{ notificationMessage }}</div>

            <v-icon size="16" @click="snackbar = false">mdi-close-circle</v-icon>
          </v-snackbar>
        </material-card>
      </v-flex>
    </v-layout>
  </v-container>
</template>

<script>
// Utilities
import { mapMutations, mapState } from "vuex";
import { apiModel, makeApiRequest } from "@/api";
import { required, minLength } from "vuelidate/lib/validators";

export default {
  name: "AddRole",

  computed: {
    ...mapState("permissions", ["permissions"]),

    permissions: function() {
      return this.$store.state.permissions.permissions;
    }
  },

  data() {
    return {
      color: null,
      top: true,
      bottom: false,
      left: false,
      right: true,
      snackbar: false,
      notificationIcons: {
        success: "mdi-check-circle",
        error: "mdi-alert-octagon"
      },
      notificationIcon: null,
      notificationMessage: null,
      dialog: false,
      form: {
        name: null,
        code: null,
        permissions: []
      },
      pForm: {
        name: null,
        code: null
      }
    };
  },

  methods: {
    ...mapMutations("permissions", ["setPermissions"]),

    async submit(evt) {
      evt.preventDefault();

      this.$v.form.$touch();

      if (!this.$v.form.$invalid) {
        const args = {
          name: this.form.name,
          code: this.form.code,
          permissions: this.form.permissions
        };

        const token = localStorage.getItem("tf-token");

        try {
          const response = await makeApiRequest(
            args,
            apiModel.Role.Create,
            token,
            {}
          );

          // Display success message
          this.snack(
            "success",
            this.$t("message.roleCreated"),
            this.notificationIcons.success
          );

          // Redirect to roles page
          this.$router.push({ name: this.$tc("message.roles", 2) });
        } catch (err) {
          this.snack("error", err, this.notificationIcons.error);
        }
      }
    },

    async addPermission(evt) {
      evt.preventDefault();

      this.$v.pForm.$touch();

      if (!this.$v.pForm.$invalid) {
        const args = {
          name: this.pForm.name,
          code: this.pForm.code
        };

        const token = localStorage.getItem("tf-token");

        try {
          const response = await makeApiRequest(
            args,
            apiModel.Permission.Create,
            token,
            {}
          );

          // Display success message
          this.snack(
            "success",
            this.$t("message.permissionCreated"),
            this.notificationIcons.success
          );

          // Add permission to permissions state
          const p = [...this.permissions, response.data.result];
          this.setPermissions(p);

          // Clear pForm fields
          this.pForm.name = null;
          this.pForm.code = null;

          // Close dialog
          this.dialog = false;
        } catch (err) {
          this.snack("error", err, this.notificationIcons.error);
        }
      }
    },

    async getPermissions() {
      const token = localStorage.getItem("tf-token");

      try {
        const response = await makeApiRequest(
          {},
          apiModel.Permission.List,
          token,
          {}
        );

        const status = response.status;

        if (status === 200) {
          // Set permissions state via mapMutations()
          this.setPermissions(response.data.permissions);
        } else {
          this.snack("error", response.message, this.notificationIcons.error);
        }
      } catch (err) {
        this.snack("error", err);
      }
    },

    snack(color, message, icon) {
      this.color = color;
      this.snackbar = true;
      this.notificationMessage = message;
      this.notificationIcon = icon;
    }
  },

  mounted() {
    // Fetch permission list
    this.getPermissions();
  },

  validations: {
    form: {
      name: {
        required
      },
      code: {
        required
      },
      permissions: {
        required, // array cannot be left empty
        minLength: minLength(1) // array should have at least 1 element
      }
    },

    pForm: {
      name: {
        required
      },
      code: {
        required
      }
    }
  }
};
</script>
