<template>
  <v-container fill-height fluid grid-list-xl>
    <v-layout wrap>
      <v-flex sm12>
        <v-btn dark color="success" :to="{ name: $t('message.addRole') }">
          {{ $t('message.addRole') }}
          <v-icon>mdi-hospital</v-icon>
        </v-btn>
      </v-flex>

      <v-flex sm12>
        <material-card color="primary" :title="$tc('message.roles', 2)">
          <v-list v-if="roles.length">
            <v-list-tile
              v-for="(role, index) in roles"
              :key="role._id"
            >
              <v-list-tile-action>{{ index + 1 }}</v-list-tile-action>

              <v-list-tile-title>{{ role.name }}</v-list-tile-title>

              <div class="d-flex">
                <v-tooltip top content-class="top">
                  <v-btn 
                    :to="{ name: $t('message.editRole'), params: { role: role._id } }" 
                    slot="activator" 
                    class="v-btn--simple" 
                    color="success" 
                    icon
                  >
                    <v-icon color="accent">mdi-pencil</v-icon>
                  </v-btn>

                  <span>{{ $t('message.edit') }}</span>
                </v-tooltip>

                <v-tooltip top content-class="top">
                  <v-btn
                    slot="activator" 
                    class="v-btn--simple" 
                    color="danger" 
                    icon
                    @click="deleteRole(role._id)"
                  >
                    <v-icon color="error">mdi-close</v-icon>
                  </v-btn>

                  <span>{{ $t('message.delete') }}</span>
                </v-tooltip>
              </div>
            </v-list-tile>
          </v-list>

          <v-card-text v-else class="text-xs-center">{{ $t('message.noResults') }}</v-card-text>

          <v-snackbar
            :color="color"
            :bottom="bottom"
            :top="top"
            :left="left"
            :right="right"
            v-model="snackbar"
            dark
          >
            <v-icon color="white" class="mr-3">{{ notificationIcon }}</v-icon>

            <div>{{ notificationMessage }}</div>

            <v-icon size="16" @click="snackbar = false">mdi-close-circle</v-icon>
          </v-snackbar>
        </material-card>
      </v-flex>
    </v-layout>
  </v-container>
</template>

<script>
// Utilities
import { mapMutations, mapState } from "vuex";
import { apiModel, makeApiRequest } from "@/api";

export default {
  name: "Roles",

  computed: {
    ...mapState("roles", ["roles"]),

    roles: function() {
      return this.$store.state.roles.roles;
    }
  },

  data() {
    return {
      color: null,
      top: true,
      bottom: false,
      left: false,
      right: true,
      snackbar: false,
      notificationIcons: {
        success: "mdi-check-circle",
        error: "mdi-alert-octagon"
      },
      notificationIcon: null,
      notificationMessage: null
    };
  },

  methods: {
    ...mapMutations("roles", ["setRoles"]),

    async getRoles() {
      const token = localStorage.getItem("tf-token");

      try {
        const response = await makeApiRequest(
          {},
          apiModel.Role.List,
          token,
          {}
        );

        const status = response.status

        if (status === 200) {
          // Set roles state via mapMutations()
          this.setRoles(response.data.roles);
        } else {
          this.snack("error", response.message, this.notificationIcons.error);
        }
      } catch (err) {
        this.snack("error", err, this.notificationIcons.error);
      }
    },

    async deleteRole(role) {
      const args = {
        role
      };

      const token = localStorage.getItem("tf-token");

      try {
        const response = await makeApiRequest(
          args,
          apiModel.Role.Delete,
          token,
          {}
        );

        const status = response.status;

        if (status === 200) {
          // Set roles state by removing deleted role via mapMutations()
          const r = this.roles.filter(r => {
            return r._id !== role;
          });

          this.setRoles(r);

          // Display success message
          this.snack("success", this.$t("message.roleDeleted"), this.notificationIcons.success);
        } else {
          this.snack("error", response.message);
        }
      } catch(err) {
        this.snack("error", err, this.notificationIcons.error);
      }
    },

    snack(color, err, icon) {
      this.color = color;
      this.snackbar = true;
      this.notificationMessage = err;
      this.notificationIcon = icon;
    }
  },

  mounted() {
    // Fetch role list
    this.getRoles();
  }
};
</script>