.v-date-picker-table {
  
  .v-btn {
    color: inherit !important;
    padding: 12px 0;

    &.v-btn--active {
      background-color: $primary !important;
      color: $white !important;
    }

    &.v-btn--outline {
      border: 1px solid $primary;
    }
  }
}