<template>
  <v-container fill-height fluid grid-list-xl>
    <v-layout wrap>
      <v-flex sm12>
        <material-card color="primary" :title="$t('message.editSupplier')">
          <v-form ref="supplierForm" lazy-validation>
            <v-layout wrap>
              <v-flex xs12 sm6>
                <v-text-field
                  v-model="$v.form.name.lastName.$model"
                  :label="$t('message.lastName')"
                  required
                ></v-text-field>
              </v-flex>

              <v-flex xs12 sm6>
                <v-text-field
                  v-model="$v.form.name.firstName.$model"
                  :label="$t('message.firstName')"
                  required
                ></v-text-field>
              </v-flex>

              <v-flex xs12 sm6>
                <v-select
                  :items="genders"
                  :label="$t('message.gender')"
                  v-model="$v.form.gender.$model"
                  solo
                ></v-select>
              </v-flex>

              <v-flex xs12 sm6>
                <v-text-field
                  v-model="$v.form.phone.$model"
                  :label="$t('message.phoneNumber')"
                  required
                ></v-text-field>
              </v-flex>

              <v-flex xs12 sm6 d-flex>
                <v-radio-group
                  :label="$t('message.certified')"
                  v-model="$v.form.certified.$model"
                  row
                >
                  <v-radio :label="$t('message.yes')" :value="true"></v-radio>

                  <v-radio :label="$t('message.no')" :value="false"></v-radio>
                </v-radio-group>
              </v-flex>

              <v-flex xs12 sm6>
                <v-select
                  :items="certYears"
                  :label="$t('message.firstUtzCertification')"
                  v-model="$v.form.first_utz_certification.$model"
                  solo
                ></v-select>
              </v-flex>

              <v-flex xs12 sm6>
                <v-text-field
                  v-model="$v.form.worker_number.$model"
                  :label="$t('message.workerNumber')"
                  type="number"
                  required
                ></v-text-field>
              </v-flex>

              <v-flex xs12 sm6>
                <v-menu
                  ref="dateMenuRef"
                  v-model="dateMenu"
                  :nudge-right="40"
                  :return-value.sync="$v.form.internal_inspection_date.$model"
                  lazy
                  transition="scale-transition"
                  offset-y
                  full-width
                  min-width="290px"
                >
                  <template v-slot:activator="{ on }">
                    <v-text-field
                      v-model="formattedDate"
                      :label="$t('message.internalInspectionDate')"
                      prepend-icon="mdi-calendar"
                      v-on="on"
                    ></v-text-field>
                  </template>

                  <v-date-picker
                    v-model="$v.form.internal_inspection_date.$model"
                    @input="$refs.dateMenuRef.save($v.form.internal_inspection_date.$model)"
                    no-title
                    scrollable
                  ></v-date-picker>
                </v-menu>
              </v-flex>

              <v-flex xs12 sm6>
                <img v-if="imageUrl" :src="imageUrl" height="150"/>

                <img v-else-if="backImageUrl" :src="backImageUrl" height="150"/>

                <input
                  type="file"
                  style="display: none"
                  ref="image"
                  accept="image/*"
                  @change="setImage"
                >

                <v-text-field
                  v-model="imageName"
                  :label="$t('message.avatar')"
                  @click="selectImage"
                  prepend-icon='mdi-attachment'
                ></v-text-field>
              </v-flex>

              <v-flex xs12>
                <v-btn
                  :disabled="$v.form.$invalid"
                  color="success"
                  @click="submit"
                >{{ $t("message.submit") }}</v-btn>
              </v-flex>
            </v-layout>
          </v-form>

          <v-snackbar
            :color="color"
            :bottom="bottom"
            :top="top"
            :left="left"
            :right="right"
            v-model="snackbar"
            dark
          >
            <v-icon color="white" class="mr-3">{{ notificationIcon }}</v-icon>

            <div>{{ notificationMessage }}</div>

            <v-icon size="16" @click="snackbar = false">mdi-close-circle</v-icon>
          </v-snackbar>
        </material-card>
      </v-flex>
    </v-layout>
  </v-container>
</template>

<script>
// Utilities
import { mapMutations, mapState } from "vuex";
import { apiModel, makeApiRequest } from "@/api";
import { required, numeric } from "vuelidate/lib/validators";
import moment from 'moment';
import AppConfig from "@/constants/AppConfig";

export default {
  name: "EditSupplier",

  computed: {
    ...mapState("suppliers", ["supplier"]),

    form() {
      /*this.supplier.internal_inspection_date = this.supplier.internal_inspection_date ?
        moment(this.supplier.internal_inspection_date).format('DD-MM-YYYY') :
        '';*/
      this.supplier.first_utz_certification = parseInt(this.supplier.first_utz_certification);
      
      return this.supplier;
    },

    backImageUrl() {
      return `${AppConfig.backUrl}/${this.form.avatar}`;
    },

    certYears() {
      const currentYear = (new Date()).getFullYear();
      const years = [];

      for (let i = currentYear; i >= currentYear - 50; i--) {
        years.push(i);
      }

      return years;
    },

    formattedDate() {
      return this.form.internal_inspection_date ? moment(this.form.internal_inspection_date).format('DD-MM-YYYY') : '';
    }
  },

  data() {
    return {
      supplierId: this.$route.params.supplier,
      color: null,
      top: true,
      bottom: false,
      left: false,
      right: true,
      snackbar: false,
      notificationIcons: {
        success: "mdi-check-circle",
        error: "mdi-alert-octagon"
      },
      notificationIcon: null,
      notificationMessage: null,
      dialog: false,
      genders: [ this.$t('message.male'), this.$t('message.female') ],
      dateMenu: false,
      imageName: null,
      imageUrl: null
    };
  },

  methods: {
    ...mapMutations("roles", ["setRoles"]),
    ...mapMutations("suppliers", ["setSupplier"]),

    selectImage() {
      this.$refs.image.click();
    },

    setImage(event) {
      let files = event.target.files;

      if (files[0] !== undefined) {
        this.imageName = files[0].name;

        if(this.imageName.lastIndexOf('.') <= 0) {
          return;
        }

        const fr = new FileReader ();

        fr.readAsDataURL(files[0])
        fr.addEventListener('load', () => {
          this.imageUrl = fr.result;
          this.form.avatar = files[0];
        });
      } else {
        this.imageName = null;
        this.form.avatar = null;
        this.imageUrl = null;
      }
    },

    async getSupplier() {
      const token = localStorage.getItem("tf-token");
      const args = {
        supplier: this.supplierId
      };

      try {
        const response = await makeApiRequest(
          args,
          apiModel.Supplier.Get,
          token,
          {},
          {}
        );

        const status = response.status;

        if (status === 200) {
          // Set supplier state via mapMutations()
          this.setSupplier(response.data.supplier);
        } else {
          this.snack("error", response.message, this.notificationIcons.error);
        }
      } catch (err) {
        this.snack("error", err, this.notificationIcons.error);
      }
    },

    async submit(evt) {
      evt.preventDefault();

      this.$v.form.$touch();

      if (!this.$v.form.$invalid) {
        let formData = new FormData();

        formData.append('supplier', this.supplierId);
        formData.append('firstName', this.form.name.firstName);
        formData.append('lastName', this.form.name.lastName);
        formData.append('avatar', this.form.avatar);
        formData.append('gender', this.form.gender);
        formData.append('phone', this.form.phone);
        formData.append('certified', this.form.certified);
        formData.append('first_utz_certification', this.form.first_utz_certification);
        formData.append('worker_number', this.form.worker_number);
        formData.append('internal_inspection_date', this.form.internal_inspection_date);

        const token = localStorage.getItem("tf-token");
        const headers = {
          headers: {
            "Content-Type": "multipart/form-data"
          }
        };

        try {
          const response = await makeApiRequest(
            formData,
            apiModel.Supplier.Update,
            token,
            {},
            {},
            headers
          );

          // Display success message
          this.snack(
            "success",
            this.$t("message.supplierUpdated"),
            this.notificationIcons.success
          );

          // Redirect to suppliers page
          this.$router.push({ name: this.$tc("message.suppliers", 2) });
        } catch (err) {
          this.snack("error", err, this.notificationIcons.error);
        }
      }
    },

    snack(color, message, icon) {
      this.color = color;
      this.snackbar = true;
      this.notificationMessage = message;
      this.notificationIcon = icon;
    }
  },

  mounted() {
    // Get supplier to edit
    this.getSupplier();
  },

  validations: {
    form: {
      name: {
        firstName: {
          required
        },
        lastName: {
          required
        }
      },
      avatar: {
        //
      },
      gender: {
        required
      },
      phone: {
        required
      },
      certified: {
        required
      },
      first_utz_certification: {
        required
      },
      worker_number: {
        required,
        numeric
      },
      internal_inspection_date: {
        required
      }
    }
  }
};
</script>
