<template>
  <material-card>
    <v-avatar
      class="mx-auto d-block"
      size="130"
    >
      <!-- <img v-if="!supplier.avatar" src="https://demos.creative-tim.com/vue-material-dashboard/img/marc.aba54d65.jpg"> -->
      <img v-if="supplier.avatar" :src="avatar()">
      <v-icon v-else large>mdi-account-circle</v-icon>
    </v-avatar>

    <v-card-text class="text-xs-center">
      <h6 class="category text-gray font-weight-thin mb-3">
        {{ supplier.code }}
      </h6>

      <h4 class="card-title font-weight-light">
        {{ supplier.name.firstName }} {{ supplier.name.lastName }}
      </h4>

      <v-card-text
        class="success--text text-xs-right pointer"
        @click="goToProfile()"
      >
        {{ $t('message.viewDetailedProfile') }}
      </v-card-text>

      <v-divider></v-divider>

      <v-list two-line>
        <v-list-tile>
          <v-list-tile-content>
            <v-list-tile-title>
              {{ $t('message.gender') }}
            </v-list-tile-title>

            <v-list-tile-sub-title>
              {{ gender }}
            </v-list-tile-sub-title>
          </v-list-tile-content>
        </v-list-tile>

        <v-list-tile>
          <v-list-tile-content>
            <v-list-tile-title>
              {{ $t('message.phoneNumber') }}
            </v-list-tile-title>

            <v-list-tile-sub-title>
              {{ supplier.phone }}
            </v-list-tile-sub-title>
          </v-list-tile-content>
        </v-list-tile>

        <v-list-tile>
          <v-list-tile-content>
            <v-list-tile-title>
              {{ $t('message.certified') }}
            </v-list-tile-title>

            <v-list-tile-sub-title>
              <v-icon v-if="supplier.certified" color="success">mdi-check</v-icon>
              <v-icon v-else color="error">mdi-cancel</v-icon>
            </v-list-tile-sub-title>
          </v-list-tile-content>
        </v-list-tile>

        <v-list-tile>
          <v-list-tile-content>
            <v-list-tile-title>
              {{ $t('message.producerNumber') }}
            </v-list-tile-title>

            <v-list-tile-sub-title>
              {{ producerNumber }}
            </v-list-tile-sub-title>
          </v-list-tile-content>
        </v-list-tile>
      </v-list>
    </v-card-text>
  </material-card>
</template>

<script>
import moment from "moment";
import numeral from "numeral";
import AppConfig from "@/constants/AppConfig";

export default {
  name: "SupplierDialog",

  props: ['supplier'],

  computed: {
    gender() {
      return this.supplier.gender ? this.$t('message.' + this.supplier.gender.toLowerCase()) : 'N/A';
    },

    producers() {
      return this.supplier.producers;
    },

    producerNumber() {
      return this.producers ? numeral(this.producers.length).format('0,0') : 0;
    }
  },

  data() {
    return {
      backUrl: AppConfig.backUrl
    }
  },

  methods: {
    avatar() {
      return this.backUrl + '/' + this.supplier.avatar;
    },

    formattedDate(date) {
      return moment(date).format('DD-MM-YYYY');
    },

    goToProfile() {
      this.$router.push({ name: this.$tc('message.suppliers', 1), params: { supplier: this.supplier._id } });
    },

    goToEditSupplier() {
      this.$router.push({ name: this.$t('message.editSupplier'), params: { supplier: this.supplier._id } });
    }
  }
}
</script>
