<template>
  <v-container fill-height fluid grid-list-xl>
    <v-layout wrap>
      <v-flex sm12>
        <material-card color="primary" :title="$tc('message.suppliers', 1)">
          <v-avatar
            class="mx-auto d-block"
            size="130"
          >
            <!-- <img v-if="!mSupplier.avatar" src="https://demos.creative-tim.com/vue-material-dashboard/img/marc.aba54d65.jpg"> -->
            <img v-if="mSupplier.avatar" :src="avatar()">
            <v-icon v-else large>mdi-account-circle</v-icon>
          </v-avatar>

          <v-card-text class="text-xs-center">
            <h6 class="category text-gray font-weight-thin mb-3">
              {{ mSupplier.code }}
            </h6>

            <h4 class="card-title font-weight-light">
              {{ mSupplier.name.firstName }} {{ mSupplier.name.lastName }}
            </h4>

            <v-divider></v-divider>

            <v-list two-line>
              <v-list-tile>
                <v-list-tile-content>
                  <v-list-tile-title>
                    {{ $t('message.gender') }}
                  </v-list-tile-title>

                  <v-list-tile-sub-title>
                    {{ gender }}
                  </v-list-tile-sub-title>
                </v-list-tile-content>
              </v-list-tile>

              <v-list-tile>
                <v-list-tile-content>
                  <v-list-tile-title>
                    {{ $t('message.phoneNumber') }}
                  </v-list-tile-title>

                  <v-list-tile-sub-title>
                    {{ mSupplier.phone }}
                  </v-list-tile-sub-title>
                </v-list-tile-content>
              </v-list-tile>

              <v-list-tile>
                <v-list-tile-content>
                  <v-list-tile-title>
                    {{ $t('message.certified') }}
                  </v-list-tile-title>

                  <v-list-tile-sub-title>
                    <v-icon v-if="mSupplier.certified" color="success">mdi-check</v-icon>
                    <v-icon v-else color="error">mdi-cancel</v-icon>
                  </v-list-tile-sub-title>
                </v-list-tile-content>
              </v-list-tile>

              <v-list-tile>
                <v-list-tile-content>
                  <v-list-tile-title>
                    {{ $t('message.producerNumber') }}
                  </v-list-tile-title>

                  <v-list-tile-sub-title>
                    {{ producerNumber }}
                  </v-list-tile-sub-title>
                </v-list-tile-content>
              </v-list-tile>
            </v-list>
          </v-card-text>
        </material-card>
      </v-flex>
    </v-layout>

    <v-snackbar
      :color="color"
      :bottom="bottom"
      :top="top"
      :left="left"
      :right="right"
      v-model="snackbar"
      dark
    >
      <v-icon color="white" class="mr-3">{{ notificationIcon }}</v-icon>

      <div>{{ notificationMessage }}</div>

      <v-icon size="16" @click="snackbar = false">mdi-close-circle</v-icon>
    </v-snackbar>
  </v-container>
</template>

<script>
  import { mapMutations, mapState } from 'vuex';
  import { apiModel, makeApiRequest } from "@/api";
  import moment from "moment";
  import numeral from "numeral";
  import AppConfig from "@/constants/AppConfig";

  export default {
    name: "Supplier",

    computed: {
      ...mapState("suppliers", ["supplier"]),

      mSupplier() {
        return this.supplier;
      },

      gender() {
        return this.mSupplier.gender ? this.$t('message.' + this.mSupplier.gender.toLowerCase()) : 'N/A';
      },

      producers() {
        return this.mSupplier.producers;
      },

      producerNumber() {
        return this.producers ? numeral(this.producers.length).format('0,0') : 0;
      },
    },

    data() {
      return {
        backUrl: AppConfig.backUrl,
        supplierId: this.$route.params.supplier,
        color: null,
        top: true,
        bottom: false,
        left: false,
        right: true,
        snackbar: false,
        notificationIcons: {
          success: "mdi-check-circle",
          error: "mdi-alert-octagon"
        },
        notificationIcon: null,
        notificationMessage: null,
      }
    },

    methods: {
      ...mapMutations("suppliers", ["setSupplier"]),

      avatar() {
        return this.backUrl + '/' + this.mSupplier.avatar;
      },

      formattedDate(date) {
        return moment(date).format('DD-MM-YYYY');
      },

      async getSupplier() {
        const token = localStorage.getItem("tf-token");
        const args = {
          supplier: this.supplierId
        };

        try {
          const response = await makeApiRequest(
            args,
            apiModel.Supplier.Get,
            token
          );

          const status = response.status;

          if (status === 200) {
            // Set supplier state via mapMutations()
            this.setSupplier(response.data.supplier);
          } else {
            this.snack("error", response.message, this.notificationIcons.error);
          }
        } catch (err) {
          this.snack("error", err, this.notificationIcons.error);
        }
      }
    },

    snack(color, err, icon) {
      this.color = color;
      this.snackbar = true;
      this.notificationMessage = err;
      this.notificationIcon = icon;
    },

    async mounted() {
      // Get supplier
      await this.getSupplier();
    }
  }
</script>

<style scoped>

</style>
