<template>
  <v-container fill-height fluid grid-list-xl>
    <v-layout wrap>
      <v-flex sm12>
        <material-card color="primary" :title="$t('message.addUser')">
          <v-form ref="userForm" lazy-validation>
            <v-layout wrap>
              <v-flex xs12 sm6>
                <v-text-field
                  v-model="$v.form.name.lastName.$model"
                  :label="$t('message.lastName')"
                  required
                ></v-text-field>
              </v-flex>

              <v-flex xs12 sm6>
                <v-text-field
                  v-model="$v.form.name.firstName.$model"
                  :label="$t('message.firstName')"
                  required
                ></v-text-field>
              </v-flex>

              <v-flex xs12 sm6>
                <v-text-field
                  v-model="$v.form.username.$model"
                  :label="$t('message.username')"
                  required
                ></v-text-field>
              </v-flex>

              <v-flex xs12 sm6>
                <v-text-field
                  v-model="$v.form.phone.$model"
                  :label="$t('message.phoneNumber')"
                  required
                ></v-text-field>
              </v-flex>

              <v-flex xs12 sm6 d-flex>
                <v-select
                  :items="roles"
                  :label="$tc('message.roles', 1)"
                  v-model="$v.form.role.$model"
                  item-text="name"
                  item-value="_id"
                  solo
                ></v-select>
              </v-flex>

              <v-flex xs12 sm6>
                <v-text-field
                  v-model="$v.form.password.$model"
                  :label="$t('message.password')"
                  type="password"
                  required
                ></v-text-field>
              </v-flex>

              <v-flex xs12 sm6>
                <img :src="imageUrl" height="150" v-if="imageUrl"/>

                <input
                  type="file"
                  style="display: none"
                  ref="image"
                  accept="image/*"
                  @change="setImage"
                >

                <v-text-field
                  v-model="imageName"
                  :label="$t('message.avatar')"
                  @click="selectImage"
                  prepend-icon='mdi-attachment'
                ></v-text-field>
              </v-flex>

              <v-flex xs12>
                <v-btn
                  :disabled="$v.form.$invalid"
                  color="success"
                  @click="submit"
                >{{ $t("message.submit") }}</v-btn>
              </v-flex>
            </v-layout>
          </v-form>

          <v-snackbar
            :color="color"
            :bottom="bottom"
            :top="top"
            :left="left"
            :right="right"
            v-model="snackbar"
            dark
          >
            <v-icon color="white" class="mr-3">{{ notificationIcon }}</v-icon>

            <div>{{ notificationMessage }}</div>

            <v-icon size="16" @click="snackbar = false">mdi-close-circle</v-icon>
          </v-snackbar>
        </material-card>
      </v-flex>
    </v-layout>
  </v-container>
</template>

<script>
// Utilities
import { mapMutations, mapState } from "vuex";
import { apiModel, makeApiRequest } from "@/api";
import { required } from "vuelidate/lib/validators";

export default {
  name: "AddUser",

  computed: {
    ...mapState("roles", ["roles"]),

    roles: function() {
      return this.$store.state.roles.roles;
    }
  },

  data() {
    return {
      color: null,
      top: true,
      bottom: false,
      left: false,
      right: true,
      snackbar: false,
      notificationIcons: {
        success: "mdi-check-circle",
        error: "mdi-alert-octagon"
      },
      notificationIcon: null,
      notificationMessage: null,
      dialog: false,
      imageName: null,
      imageUrl: null,
      form: {
        name: {
          firstName: null,
          lastName: null
        },
        avatar: null,
        username: null,
        phone: null,
        role: null,
        password: null
      }
    };
  },

  methods: {
    ...mapMutations("roles", ["setRoles"]),

    selectImage() {
      this.$refs.image.click();
    },

    setImage(event) {
      let files = event.target.files;

      if (files[0] !== undefined) {
        this.imageName = files[0].name;

        if(this.imageName.lastIndexOf('.') <= 0) {
          return;
        }

        const fr = new FileReader ();

        fr.readAsDataURL(files[0])
        fr.addEventListener('load', () => {
          this.imageUrl = fr.result;
          this.form.avatar = files[0];
        });
      } else {
        this.imageName = null;
        this.form.avatar = null;
        this.imageUrl = null;
      }
    },

    async submit(evt) {
      evt.preventDefault();

      this.$v.form.$touch();

      if (!this.$v.form.$invalid) {
        let formData = new FormData();

        formData.append('firstName', this.form.name.firstName);
        formData.append('lastName', this.form.name.lastName);
        formData.append('avatar', this.form.avatar);
        formData.append('username', this.form.username);
        formData.append('phone', this.form.phone);
        formData.append('role', this.form.role);
        formData.append('password', this.form.password);

        /*const args = {
          firstName: this.form.name.firstName,
          lastName: this.form.name.lastName,
          username: this.form.username,
          phone: this.form.phone,
          role: this.form.role,
          password: this.form.password
        };*/

        const token = localStorage.getItem("tf-token");
        const headers = {
          headers: {
            "Content-Type": "multipart/form-data"
          }
        };

        try {
          const response = await makeApiRequest(
            formData,
            apiModel.User.Create,
            token,
            {},
            {},
            headers
          );

          // Display success message
          this.snack(
            "success",
            this.$t("message.userCreated"),
            this.notificationIcons.success
          );

          // Redirect to roles page
          this.$router.push({ name: this.$tc("message.users", 2) });
        } catch (err) {
          this.snack("error", err, this.notificationIcons.error);
        }
      }
    },

    async getRoles() {
      const token = localStorage.getItem("tf-token");

      try {
        const response = await makeApiRequest(
          {},
          apiModel.Role.List,
          token,
          {}
        );

        const status = response.status;

        if (status === 200) {
          // Set roles state via mapMutations()
          this.setRoles(response.data.roles);
        } else {
          this.snack("error", response.message, this.notificationIcons.error);
        }
      } catch (err) {
        this.snack("error", err, this.notificationIcons.error);
      }
    },

    snack(color, message, icon) {
      this.color = color;
      this.snackbar = true;
      this.notificationMessage = message;
      this.notificationIcon = icon;
    }
  },

  mounted() {
    // Fetch role list
    this.getRoles();
  },

  validations: {
    form: {
      name: {
        firstName: {
          required
        },
        lastName: {
          required
        }
      },
      avatar: {
        //
      },
      username: {
        required
      },
      phone: {
        required
      },
      role: {
        required
      },
      password: {
        required
      }
    }
  }
};
</script>
