<template>
  <div>
    <v-fade-transition mode="out-in">
      <router-view />
    </v-fade-transition>

    <core-footer v-if="$route.name !== 'Maps'" />
  </div>
</template>

<script>
export default {
  name: "AuthLayout",
  data () {
    return {
      //
    }
  },
  methods: {
    //
  }
}
</script>
