<template>
  <div>
    <!-- <core-filter /> -->

    <core-toolbar />

    <core-drawer />

    <core-view />
  </div>
</template>

<script>
export default {
  name: "DashboardLayout",
  data () {
    return {
      //
    }
  },
  methods: {
    //
  }
}
</script>

<style lang="scss">
@import '@/styles/index.scss';

/* Remove in 1.2 */
.v-datatable thead th.column.sortable i {
  vertical-align: unset;
}
</style>
