<template>
  <v-container class="login">
    <v-layout align-center column justify-center>
      <v-container fill-height fluid grid-list-xl>
        <v-layout wrap>
          <v-flex sm12>
            <material-card class="w-70" color="primary" :title="$t('message.login')">
              <v-card-text>
                <v-form ref="form" lazy-validation>
                  <v-layout wrap>
                    <v-flex xs12>
                      <v-text-field
                        v-model="$v.form.username.$model"
                        :label="$t('message.username')"
                        @keyup.enter="submit"
                        required
                      ></v-text-field>
                    </v-flex>

                    <v-flex xs12>
                      <v-text-field
                        :append-icon="show ? 'mdi-eye-off' : 'mdi-eye'"
                        v-model="$v.form.password.$model"
                        :label="$t('message.password')"
                        :type="show ? 'text' : 'password'"
                        @click:append="show = !show"
                        @keyup.enter="submit"
                        required
                      ></v-text-field>
                    </v-flex>

                    <v-flex xs12>
                      <v-btn
                        :disabled="$v.$invalid"
                        color="success"
                        @click="submit"
                        >{{ $t("message.submit") }}</v-btn
                      >
                    </v-flex>
                  </v-layout>
                </v-form>
              </v-card-text>

              <v-snackbar
                :color="color"
                :bottom="bottom"
                :top="top"
                :left="left"
                :right="right"
                v-model="snackbar"
                dark
              >
                <v-icon color="white" class="mr-3">{{
                  notificationIcon
                }}</v-icon>

                <div>{{ notificationMessage }}</div>

                <v-icon size="16" @click="snackbar = false"
                  >mdi-close-circle</v-icon
                >
              </v-snackbar>
            </material-card>
          </v-flex>
        </v-layout>
      </v-container>
    </v-layout>
  </v-container>
</template>

<script>
// Utilities
import { mapMutations, mapState } from "vuex";
import { apiModel, makeApiRequest } from "@/api";
import { required } from "vuelidate/lib/validators";
// import AppConfig from '../../constants/AppConfig';

export default {
  name: "Login",

  computed: {
    ...mapState("auth", ["user"]),

    user: function() {
      return this.$store.state.auth.user;
    }
  },

  data() {
    return {
      color: null,
      top: true,
      bottom: false,
      left: false,
      right: true,
      snackbar: false,
      notificationIcons: {
        success: "mdi-check-circle",
        error: "mdi-alert-octagon"
      },
      notificationIcon: null,
      notificationMessage: null,
      form: {
        username: null,
        password: null
      },
      show: false
    };
  },

  methods: {
    ...mapMutations("auth", ["setUser", "setLoggedIn"]),

    async submit(evt) {
      evt.preventDefault();

      this.$v.$touch();

      if (!this.$v.$invalid) {
        const args = {
          username: this.form.username,
          password: this.form.password
        };

        const token = "";

        try {
          const response = await makeApiRequest(
            args,
            apiModel.Auth.Login,
            token,
            {}
          );

          const status = response.status;

          if (status == 200) {
            const user = response.data.user;
            const token = response.data.token;
            const today = new Date();
            const tokenExpiration = today.setHours(today.getHours() + 1);

            // Set user and loggedIn states
            this.setUser(user);
            this.setLoggedIn(token);

            // Store user and token locally
            localStorage.setItem('user', JSON.stringify(user));
            localStorage.setItem('tf-token', token);
            localStorage.setItem('token-expires-at', tokenExpiration);

            // Display success message
            this.snack(
              "success",
              this.$t("message.loggedIn"),
              this.notificationIcons.success
            );

            // Redirect the user
            if (this.$route.query.redirect) {
              this.$router.push({ path: this.$route.query.redirect });
            } else {
              this.$router.push({ name: this.$t("message.dashboard") });
            }
          } else {
            this.snack("error", response.message, this.notificationIcons.error);
          }
        } catch (err) {
          this.snack("error", err, this.notificationIcons.error);
        }
      }
    },

    snack(color, message, icon) {
      this.color = color;
      this.snackbar = true;
      this.notificationMessage = message;
      this.notificationIcon = icon;
    }
  },

  validations: {
    form: {
      username: {
        required
      },
      password: {
        required
      }
    }
  }
};
</script>
